//
// @file
// Button and link styles.
// ----------------------------------------------------------------------------

// Link base
//----------

.link {
  @include adjust-font-size-to($fs-s);
  @include hover-link;
  @include link-colors($blue, $blue-light);
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
}

// Button base
// ------------

%button {
  @include inline-block;
  // border-style: solid;
  // border-width: 1px;
  letter-spacing: .1em;
  text-transform: uppercase;
  @include transition;

  &:hover {
    text-decoration: none;
  }
}

// Button sizes
// ------------

%button--tiny {
  @include adjust-font-size-to($fs-xxs);
  @include border-radius($radius-s);
  font-family: $ff-sans;
  font-weight: bold;
  text-transform: uppercase;
  padding: rhythm(.25, $fs-xxs) 6px;
}

%button--small {
  @include adjust-font-size-to($fs-xxs);
  @include border-radius($radius-s);
  font-family: $ff-sans;
  font-weight: bold;
  text-transform: uppercase;
  padding: rhythm(.5, $fs-xxs) 10px;
}

%button--medium {
  @include adjust-font-size-to($fs-s);
  @include border-radius($radius-s);
  font-weight: bold;
  padding: rhythm(2.5, $fs-s) 36px;
}

%button--large {
  @include adjust-font-size-to($fs-l);
  @include border-radius($radius-m);
  font-weight: bold;
  padding: rhythm(1, $fs-l) 18px;
}

// Button colors
// -------------

%button--white {
  @include link-colors($gray-dark, $gray-darker);
  @include background-image(linear-gradient(bottom, $gray-white $white));
  border-color: $gray-light;

  &:hover {
    border-color: $gray-dark;
  }

  &:active {
    @include background-image(linear-gradient(top, $gray-lightest $white));
    @include box-shadow($gray 0 1px 1px inset);
  }
}

%button--primary {
  background-color: $blue;
  color: $white;
  // @include background-image(
  //   linear-gradient(bottom, blend-overlay(rgba($black, .25), $clr-accent), blend-overlay(rgba($white, .25), $clr-accent))
  // );
  // @include box-shadow (
  //   rgba($black, .25) 0 1px 0 0,
  //   blend-overlay(rgba($black, .4), $clr-accent) 0 -1px 2px 0px inset,
  //   blend-overlay(rgba($black, .1), $clr-accent) 0 -12px 0 0 inset
  // );
  // @include link-colors($gray-white, $white);
  // @include text-shadow(0 1px 0 blend-overlay(rgba($black, .25), $clr-accent));
  // border-color: blend-overlay(rgba($black, .25), $clr-accent);
  // background-color: $gray-dark;
  @include box-shadow(
    0 0 0 2px rgba($blue-dark, 0) inset,
    0 0 0 3px rgba($blue, 0) inset
  );

  &:hover {
    background-color: $blue-dark;
    color: $white;
    @include box-shadow(
      0 0 0 2px $blue-dark inset,
      0 0 0 3px $blue inset
    );
    // color: $blue-lightest;
    // @include background-image(
    //   linear-gradient(top, blend-overlay(rgba($black, .1), $clr-accent), blend-overlay(rgba($white, .1), $clr-accent))
    // );
  }

  &:active {
    background-color: $blue-dark;
    @include box-shadow(
      0 0 0 2px $blue-darker inset,
      0 0 0 3px $blue-dark inset
    );
    //@include box-shadow(blend-overlay(rgba($black, .4), $clr-accent) 0 1px 2px inset);
    //background-color: blend-overlay(rgba($black, .1), $clr-accent);
  }
}

%button--secondary {
  @include background-image(
    linear-gradient(bottom, blend-overlay(rgba($black, .25), $clr-text), blend-overlay(rgba($white, .25), $clr-text))
  );
  @include box-shadow (
    rgba($black, .25) 0 1px 0 0,
    blend-overlay(rgba($black, .4), $clr-text) 0 -1px 2px 0px inset,
    blend-overlay(rgba($black, .1), $clr-text) 0 -12px 0 0 inset
  );
  @include link-colors($gray-white, $white);
  @include text-shadow(0 1px 0 blend-overlay(rgba($black, .25), $clr-text));
  border-color: blend-overlay(rgba($black, .25), $clr-text);
  background-color: $gray-dark;

  &:hover {
    @include background-image(
      linear-gradient(top, blend-overlay(rgba($black, .1), $clr-text), blend-overlay(rgba($white, .1), $clr-text))
    );
  }

  &:active {
    @include box-shadow(blend-overlay(rgba($black, .4), $clr-text) 0 1px 2px inset);
    background-color: blend-overlay(rgba($black, .1), $clr-text);
  }
}

// Button text effects
// -------------

%button-text--embossed {
  @include text-shadow(0 -1px 0 #A3A3A3);
}

%button-text--debossed {
  @include text-shadow(0 1px 0 rgba($white, 1));
}

// Button icons
// ------------

@mixin button-icon($x-size: 18px, $y-size: 18px) {
  @include inline-block;
  content: "";
  position: relative;
  width: $x-size;
  height: $y-size;
}

%button-icon--before {
  &:before {
    @include button-icon();
    top: -1px;
  }
}

%button-icon--after {
  &:after {
    @include button-icon();
    top: -1px;
  }
}

%button-icon--before-large {
  &:before {
    @include button-icon(26px, 26px);
    top: -1px;
    margin-right: 8px;
  }
}

%button-icon--after-large {
  &:after {
    @include button-icon(26px, 26px);
    top: -1px;
    margin-left: 8px;
  }
}
