.icon-sprite, .read-more:after,
.node-link a:after, .icon-bubble-tail, .icon-calendar, li.event-date:before, .icon-download, .icon-facebook, .link--facebook:after, .icon-location, li.event-location:before, .icon-map, li.event-address:before, .icon-more, .link--more:after, .icon-twitter, .link--twitter:after {
  background: url('../images/icon-s90ca0635ee.png') no-repeat;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.link, .link--primary, .link--more, .link--twitter, .link--facebook {
  font-size: 0.93333em;
  line-height: 1.28571em;
  text-decoration: none;
  color: #2aaae1;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.link:hover, .link--primary:hover, .link--more:hover, .link--twitter:hover, .link--facebook:hover {
  text-decoration: underline;
}
.link:hover, .link--primary:hover, .link--more:hover, .link--twitter:hover, .link--facebook:hover {
  color: #32bbe7;
}

input[type="submit"], .link--primary {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  letter-spacing: .1em;
  text-transform: uppercase;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
input[type="submit"]:hover, .link--primary:hover {
  text-decoration: none;
}

input[type="submit"], .read-more,
.node-link a {
  font-size: 0.8em;
  line-height: 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.25em 10px;
}

.link--primary {
  font-size: 0.93333em;
  line-height: 1.28571em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  padding: 1.07143em 36px;
}

input[type="submit"], .link--primary {
  background-color: #2aaae1;
  color: white;
  -webkit-box-shadow: 0 0 0 2px rgba(30, 142, 215, 0) inset, 0 0 0 3px rgba(42, 170, 225, 0) inset;
  -moz-box-shadow: 0 0 0 2px rgba(30, 142, 215, 0) inset, 0 0 0 3px rgba(42, 170, 225, 0) inset;
  box-shadow: 0 0 0 2px rgba(30, 142, 215, 0) inset, 0 0 0 3px rgba(42, 170, 225, 0) inset;
}
input[type="submit"]:hover, .link--primary:hover {
  background-color: #1e8ed7;
  color: white;
  -webkit-box-shadow: 0 0 0 2px #1e8ed7 inset, 0 0 0 3px #2aaae1 inset;
  -moz-box-shadow: 0 0 0 2px #1e8ed7 inset, 0 0 0 3px #2aaae1 inset;
  box-shadow: 0 0 0 2px #1e8ed7 inset, 0 0 0 3px #2aaae1 inset;
}
input[type="submit"]:active, .link--primary:active {
  background-color: #1e8ed7;
  -webkit-box-shadow: 0 0 0 2px #006699 inset, 0 0 0 3px #1e8ed7 inset;
  -moz-box-shadow: 0 0 0 2px #006699 inset, 0 0 0 3px #1e8ed7 inset;
  box-shadow: 0 0 0 2px #006699 inset, 0 0 0 3px #1e8ed7 inset;
}

.read-more:after,
.node-link a:after {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  content: "";
  position: relative;
  width: 18px;
  height: 18px;
  top: -1px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html,
button,
input,
select,
textarea {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 0.4em 3em;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 0.4em 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.6em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 0.4em 0;
}

dd {
  margin: 0 0 0 3em;
}

menu,
ol,
ul {
  padding: 0 0 0 3em;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border-color: #cccccc;
  margin: 0.8em 0;
  border-top-style: solid;
  border-top-width: 0.06667em;
  padding-top: 0.73333em;
  border-bottom-style: solid;
  border-bottom-width: 0.06667em;
  padding-bottom: 0.73333em;
  border-left-style: solid;
  border-left-width: 0.06667em;
  padding-left: 0.73333em;
  border-right-style: solid;
  border-right-width: 0.06667em;
  padding-right: 0.73333em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* html {
  font-size: 93.75%;
}

html {
  font-size: 15px;
  line-height: 1.6em;
}

body {
  color: #1e1e1e;
}

h1 {
  font-size: 4em;
  line-height: 1.1em;
  margin-top: 0.2em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.2em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 2.4em;
  line-height: 1.16667em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.66667em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h3 {
  font-size: 1.4em;
  line-height: 1.42857em;
  margin-top: 0.57143em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.57143em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
  font-size: 1em;
  line-height: 1.6em;
  margin-top: 1.6em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5 {
  font-size: 0.93333em;
  line-height: 1.28571em;
  margin-top: 1.71429em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h6 {
  font-size: 0.86667em;
  line-height: 1.38462em;
  margin-top: 1.84615em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  letter-spacing: .03em;
  text-transform: uppercase;
}

a {
  color: #2aaae1;
}
a:hover {
  color: #1e8ed7;
}

p {
  margin: 0 0 1.2em;
}

blockquote {
  margin: 0.8em 0 0.8em 3em;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

dl {
  margin-bottom: 1.2em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #7a7a7a;
  -moz-box-shadow: 0 0 5px #7a7a7a;
  box-shadow: 0 0 5px #7a7a7a;
}

label {
  font-size: 0.93333em;
  line-height: 1.28571em;
  display: block;
  margin-bottom: 0.42857em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
label.option {
  display: inline;
  font-weight: normal;
}

textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.06667em;
  padding: 0.13333em;
  padding: 0.2em;
  margin-bottom: 0.4em;
  max-width: 100%;
  background-color: white;
  border-color: #7a7a7a;
  color: #1e1e1e;
}
textarea:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  border-color: #7a7a7a;
}

input[type="file"] {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

select {
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: 0.42857em;
}

table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.8em;
}

thead {
  text-align: left;
}
thead th {
  vertical-align: bottom;
}

th,
td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #999999;
}

caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

tbody + tbody {
  border-top: 2px solid #999999;
}

tr.odd {
  background-color: #f0f0f0;
}

tr.even {
  background-color: transparent;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.intro {
  font-size: 1.6em;
  line-height: 1.25em;
}

.l-constrained {
  *position: relative;
  *zoom: 1;
  padding: 0 24px;
}
.l-constrained:before, .l-constrained:after {
  content: "";
  display: table;
}
.l-constrained:after {
  clear: both;
}
@media (min-width: 1248px) {
  .l-constrained {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}

#sidebar-first {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/sites/all/themes/center/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  padding: 1.6em 1.6em 0.8em;
  background-color: white;
  border: 1px solid #c1eaf8;
  border-top: none;
}

#above-content {
  background-color: #f4fbfd;
  border-bottom: 1px solid #c1eaf8;
}

#footer {
  *zoom: 1;
  padding: 1.6em 0;
}
#footer:before, #footer:after {
  content: " ";
  display: table;
}
#footer:after {
  clear: both;
}

#header {
  *zoom: 1;
  padding: 0.4em 0;
}
#header:before, #header:after {
  content: " ";
  display: table;
}
#header:after {
  clear: both;
}
@media (min-width: 768px) {
  #header {
    padding: 0.8em 0;
  }
}

#branding {
  float: left;
  max-width: 100%;
}
#branding img {
  display: block;
}

#main {
  background-color: white;
}

#above-content {
  padding: 1.6em 0;
}

#main-content {
  padding: 0.8em 0;
}

#messages {
  *zoom: 1;
  font-weight: 600;
  padding: 1.6em 0 0.4em;
}
#messages:before, #messages:after {
  content: " ";
  display: table;
}
#messages:after {
  clear: both;
}

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
  position: relative;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

ul.event-details {
  *zoom: 1;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
ul.event-details:before, ul.event-details:after {
  content: " ";
  display: table;
}
ul.event-details:after {
  clear: both;
}
ul.event-details li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.2em;
  display: block;
  margin-bottom: 0.8em;
  position: relative;
  vertical-align: middle;
  padding-left: 84px;
  padding-right: 6px;
}
ul.event-details li:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 0;
  z-index: 200;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 58px;
  width: 58px;
  background-color: white;
  border: 1px solid #c1eaf8;
}
ul.event-details li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 300;
}
ul.event-details span {
  font-size: 0.86667em;
  line-height: 1.38462em;
  vertical-align: middle;
}
@media (min-width: 620px) {
  ul.event-details {
    display: table;
  }
  ul.event-details li {
    float: left;
    margin: 0;
    width: 33%;
  }
  ul.event-details li:after {
    left: 0%;
    height: 70px;
    width: 70px;
    -webkit-box-shadow: 0 0 0 2px white inset, 0 0 0 3px #c1eaf8 inset;
    -moz-box-shadow: 0 0 0 2px white inset, 0 0 0 3px #c1eaf8 inset;
    box-shadow: 0 0 0 2px white inset, 0 0 0 3px #c1eaf8 inset;
  }
  ul.event-details li:before {
    top: 36px;
  }
}
@media (min-width: 992px) {
  ul.event-details {
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
  ul.event-details li {
    padding-left: 116px;
    padding-right: 0;
  }
  ul.event-details li:before, ul.event-details li:after {
    left: 13.33333%;
  }
}
@media (min-width: 1248px) {
  ul.event-details li {
    padding-left: 128px;
  }
}

li.event-date {
  padding-bottom: 24px;
  padding-top: 24px;
}
li.event-date:before {
  height: 31px;
  width: 30px;
  margin-left: 21px;
  margin-top: -15px;
}

li.event-location {
  padding-bottom: 18px;
  padding-top: 18px;
}
li.event-location:before {
  height: 40px;
  width: 30px;
  margin-left: 21px;
  margin-top: -20px;
}

li.event-address {
  padding-bottom: 6px;
  padding-top: 6px;
}
li.event-address:before {
  height: 27px;
  width: 30px;
  margin-left: 21px;
  margin-top: -14px;
}
li.event-address p {
  margin: 0;
}
li.event-address p.link-wrapper {
  margin-top: 0.4em;
}
li.event-address p.link-wrapper a {
  display: block;
  white-space: nowrap;
}

.field-label {
  font-size: 0.86667em;
  line-height: 1.38462em;
  font-weight: bold;
  color: #161616;
}

.read-more:after,
.node-link a:after {
  background-position: 0 -160px;
  margin-right: -4px;
}

.form-item,
.form-actions {
  margin: 1.6em 0;
}

.form-item-description {
  font-size: 0.86667em;
  line-height: 1.38462em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fieldset-legend {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.fieldset-description {
  font-size: 0.93333em;
  line-height: 1.28571em;
  margin-bottom: 1.71429em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html.js input.form-autocomplete {
  background-position: 100% 6px;
}
html.js input.form-autocomplete.throbbing {
  background-position: 100% -14px;
}

.form-type-checkboxes .form-type-checkbox,
.form-type-radios .form-type-radio {
  margin: 0.4em 0;
}

input.error,
textarea.error,
select.error {
  border: 2px solid red;
}

.machine-name-label {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.machine-name-value {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Courier New", Courier, monospace;
  margin: 0 .5em;
}

.form-required,
.marker {
  color: #b52828;
  font-weight: bold;
}

.vertical-tab-button {
  position: relative;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#active-vertical-tab {
  top: 0;
}

@media (min-width: 992px) {
  .get-involved {
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}

.get-involved--volunteer,
.get-involved--register {
  *zoom: 1;
  margin: 0 -24px;
  padding: 4.66667%;
}
.get-involved--volunteer:before, .get-involved--volunteer:after,
.get-involved--register:before,
.get-involved--register:after {
  content: " ";
  display: table;
}
.get-involved--volunteer:after,
.get-involved--register:after {
  clear: both;
}
@media (min-width: 620px) {
  .get-involved--volunteer,
  .get-involved--register {
    float: left;
    margin: 0;
    width: 40.66667%;
  }
}

.get-involved--register ul {
  padding: 0;
}
.get-involved--register ul li {
  float: left;
  list-style-type: none;
  margin-right: 24px;
}

.page-title {
  margin-bottom: 0.5em;
}

.article-title {
  margin: 0 0 0.28571em;
  font-size: 1.4em;
  line-height: 0.85714em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.block-title {
  font-size: 1.2em;
  line-height: 1.33333em;
  margin-bottom: 1.33333em;
  color: #1e1e1e;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.icon-bubble-tail {
  background-position: 0 -129px;
}

.icon-calendar, li.event-date:before {
  background-position: 0 -98px;
}

.icon-download {
  background-position: 0 -40px;
}

.icon-facebook, .link--facebook:after {
  background-position: 0 -147px;
}

.icon-location, li.event-location:before {
  background-position: 0 0;
}

.icon-map, li.event-address:before {
  background-position: 0 -58px;
}

.icon-more, .link--more:after {
  background-position: 0 -160px;
}

.icon-twitter, .link--twitter:after {
  background-position: 0 -85px;
}

.image-frame > img,
.image-frame > a > img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(61, 61, 61, 0.6) 0 1px 3px;
  -moz-box-shadow: rgba(61, 61, 61, 0.6) 0 1px 3px;
  box-shadow: rgba(61, 61, 61, 0.6) 0 1px 3px;
  padding: 4px;
  background-color: white;
}

.image-left {
  float: left;
  margin: 0 0 0.4em 0;
}

.image-right {
  float: right;
  margin: 0 0 0.4em 0;
}

.link--more {
  vertical-align: middle;
}
.link--more:after {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  content: " ";
  height: 8px;
  width: 6px;
  margin-left: 4px;
  margin-top: -4px;
}

.link--twitter {
  padding-left: 24px;
  position: relative;
}
.link--twitter:after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
  content: " ";
  height: 13px;
  width: 16px;
}
.link--twitter:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

.link--facebook {
  padding-left: 24px;
  position: relative;
}
.link--facebook:after {
  position: absolute;
  left: 4px;
  top: 50%;
  margin-top: -7px;
  content: " ";
  height: 13px;
  width: 8px;
}
.link--facebook:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

.article-list {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.article-item {
  border-top-style: solid;
  border-top-width: 0.06667em;
  padding-top: 0.73333em;
  padding-bottom: 0.8em;
  display: block;
  border-color: #cccccc;
}

.no-bullets {
  margin: 0;
  padding: 0;
}
.no-bullets > li {
  list-style: none;
}

#marquee {
  background: url('../images/../images/bg_stata.jpg?1361936021') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
@media (min-width: 1248px) {
  #marquee {
    min-height: 564px;
  }
  #marquee .l-constrained {
    min-height: 564px;
    position: relative;
  }
}

.marquee--about {
  background: #2aaae1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.6em;
}
.marquee--about h2 {
  font-size: 1.6em;
  line-height: 1.25em;
  font-weight: 300;
  color: white;
  margin: 0;
}
@media (min-width: 0) and (max-width: 991px) {
  .marquee--about {
    margin: 0 -24px;
  }
}
@media (min-width: 992px) {
  .marquee--about {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25%;
    background: #2aaae1;
    background: rgba(42, 170, 225, 0.9);
    z-index: 400;
  }
}

.marquee--intro {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  padding: 1.6em 1.6em 0.8em;
  border-bottom: 1px solid #c1eaf8;
}
@media (min-width: 0) and (max-width: 991px) {
  .marquee--intro {
    margin: 0 -24px;
  }
}
@media (min-width: 992px) {
  .marquee--intro {
    position: absolute;
    left: 0;
    top: 100%;
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    padding: 1.6em 1.6em 0.8em;
    border: 1px solid #c1eaf8;
    border-top: none;
    z-index: 300;
  }
}

.marquee--date,
.marquee--location {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
}
@media (min-width: 0) and (max-width: 767px) {
  .marquee--date,
  .marquee--location {
    padding: 0.2em 0.8em;
  }
  .marquee--date h2,
  .marquee--location h2 {
    font-size: 1em;
    line-height: 1.2em;
    display: inline;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .marquee--date,
  .marquee--location {
    height: 210px;
    width: 210px;
    padding-top: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
  }
  .marquee--date h2,
  .marquee--location h2 {
    font-size: 4em;
    line-height: 1em;
    font-weight: 100;
    margin: 0;
  }
  .marquee--date span,
  .marquee--location span {
    font-size: 1.4em;
    line-height: 2em;
    font-weight: 400;
    display: block;
  }
}

.marquee--date {
  right: 0;
  top: 0;
  background: #2aaae1;
  background: rgba(42, 170, 225, 0.9);
  color: white;
}
.marquee--date h2 {
  color: white;
}
@media (min-width: 768px) {
  .marquee--date {
    right: 2.5%;
    margin-right: 8.33333%;
    top: 0;
    margin-top: -30px;
    z-index: 200;
  }
  .marquee--date span {
    text-transform: uppercase;
  }
}

.marquee--location {
  right: 0;
  top: 30px;
  background: white;
  color: #2aaae1;
}
.marquee--location h2 {
  color: #2aaae1;
}
@media (min-width: 768px) {
  .marquee--location {
    right: 2.5%;
    top: 130px;
    z-index: 250;
    background: rgba(255, 255, 255, 0.95);
  }
  .marquee--location em {
    font-size: 1.6em;
    line-height: 0.5em;
    font-weight: 700;
    display: block;
  }
  .marquee--location .marquee--location-city {
    font-size: 1em;
    line-height: 2.4em;
  }
}

.marquee--image {
  width: 100%;
}
.marquee--image img {
  display: block;
}
@media (min-width: 1248px) {
  .marquee--image {
    display: none;
    visibility: hidden;
    height: 564px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
  }
  .marquee--image img {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: auto;
    min-width: 100%;
  }
}

.messages {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 0.4em;
  padding: 0.4em 0;
  color: white;
}
.messages a {
  color: white;
  font-weight: bold;
}
.messages.error {
  background-color: #b52828;
}
.messages.warning {
  background-color: #f27b25;
}
.messages.status {
  background-color: #8cbc1a;
}

.krumo-element,
.krumo-footnote,
.krumo-call,
.krumo-preview {
  color: black;
}

.meta {
  font-size: 0.93333em;
  line-height: 1.28571em;
}

.nav {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}

.nav-inline > li {
  display: inline;
}
.nav-inline > li > a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.nav-tabs,
.nav-pills {
  *zoom: 1;
}
.nav-tabs:before, .nav-tabs:after,
.nav-pills:before,
.nav-pills:after {
  content: " ";
  display: table;
}
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  display: block;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 4px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 0.06667em;
  padding-top: 0.13333em;
  border-bottom-style: solid;
  border-bottom-width: 0.06667em;
  padding-bottom: 0.13333em;
  -webkit-box-shadow: white 1px 1px 1px 0 inset;
  -moz-box-shadow: white 1px 1px 1px 0 inset;
  box-shadow: white 1px 1px 1px 0 inset;
  border: 1px solid #dbdbdb;
  background-color: #f0f0f0;
  color: #7a7a7a;
}
.nav-tabs > li > a:hover {
  border-color: #999999 #999999 white;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #1e1e1e;
  background-color: #dbdbdb;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs.nav-stacked {
  border-bottom: none;
}
.nav-tabs.nav-stacked > li {
  margin-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: white 1px 1px 1px 0 inset, rgba(61, 61, 61, 0.2) -1px 0 0 0 inset;
  -moz-box-shadow: white 1px 1px 1px 0 inset, rgba(61, 61, 61, 0.2) -1px 0 0 0 inset;
  box-shadow: white 1px 1px 1px 0 inset, rgba(61, 61, 61, 0.2) -1px 0 0 0 inset;
  border-right-color: #f0f0f0;
  margin-left: -2px;
}
.nav-tabs.nav-stacked > li > a:hover {
  border-color: #999999 white #999999 #999999;
}
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:hover {
  -webkit-box-shadow: white 1px 1px 1px 0 inset;
  -moz-box-shadow: white 1px 1px 1px 0 inset;
  box-shadow: white 1px 1px 1px 0 inset;
  margin-right: -1px;
  border-right-color: transparent;
  border-bottom-color: #ddd;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li > a {
  display: block;
  padding: 0.4em 12px;
  margin-right: 0;
}
.nav-stacked > li > a.active {
  font-weight: bold;
}

.nav-stacked.nav-buttons {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #999999;
}
.nav-stacked.nav-buttons > li {
  border-bottom: 1px solid #999999;
}
.nav-stacked.nav-buttons > li.last {
  border-bottom: none;
}
.nav-stacked.nav-buttons > li > a {
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 0.2em 0;
  color: #006699;
}
.nav-stacked.nav-buttons > li > a:hover {
  background-color: #cceeff;
}
.nav-stacked.nav-buttons > li > a:active, .nav-stacked.nav-buttons > li > a.active {
  background-color: #006699;
  color: white;
}

.nav-inline.nav-buttons {
  *zoom: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(100%, #3d3d3d));
  background-image: -webkit-linear-gradient(top, #999999, #3d3d3d);
  background-image: -moz-linear-gradient(top, #999999, #3d3d3d);
  background-image: -o-linear-gradient(top, #999999, #3d3d3d);
  background-image: linear-gradient(top, #999999, #3d3d3d);
  display: none;
  margin: 0;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-right: #7a7a7a 1px solid;
  border-left: #999999 1px solid;
}
.nav-inline.nav-buttons:before, .nav-inline.nav-buttons:after {
  content: " ";
  display: table;
}
.nav-inline.nav-buttons:after {
  clear: both;
}
@media (min-width: 768px) {
  .nav-inline.nav-buttons {
    display: block;
  }
}
.nav-inline.nav-buttons > li {
  float: left;
  margin-right: 0;
}
.nav-inline.nav-buttons > li > a {
  text-shadow: 0px 1px 1px rgba(61, 61, 61, 0.6);
  height: 20px;
  border-right: #f0f0f0 1px solid;
  border-left: #dbdbdb 1px solid;
  padding: 14px 18px;
  margin: 0;
  color: white;
  font-weight: bold;
}
@media (min-width: 992px) {
  .nav-inline.nav-buttons > li > a {
    padding: 14px 24px;
  }
}
.nav-inline.nav-buttons > li > a:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #dbdbdb));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #dbdbdb);
  background-image: -moz-linear-gradient(top, #f0f0f0, #dbdbdb);
  background-image: -o-linear-gradient(top, #f0f0f0, #dbdbdb);
  background-image: linear-gradient(top, #f0f0f0, #dbdbdb);
}
.nav-inline.nav-buttons > li > a:active, .nav-inline.nav-buttons > li > a.active, .nav-inline.nav-buttons > li > a.active-trail {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #999999), color-stop(100%, #7a7a7a));
  background-image: -webkit-linear-gradient(bottom, #999999, #7a7a7a);
  background-image: -moz-linear-gradient(bottom, #999999, #7a7a7a);
  background-image: -o-linear-gradient(bottom, #999999, #7a7a7a);
  background-image: linear-gradient(bottom, #999999, #7a7a7a);
  border-right: #3d3d3d 1px solid;
  border-left: #3d3d3d 1px solid;
}

#tabs {
  margin-bottom: 1.6em;
}

.pager {
  padding-left: 0;
  margin-bottom: 0.8em;
  text-align: center;
  list-style: none;
}

.pager-first,
.pager-previous,
.pager-item,
.pager-next,
.pager-last {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.pager-first > a,
.pager-previous > a,
.pager-item > a,
.pager-next > a,
.pager-last > a {
  font-size: 0.86667em;
  line-height: 1.38462em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #3d3d3d;
  background-color: #dbdbdb;
  padding: 2px 8px;
  margin: 0.46154em 2px;
}
.pager-first > a:hover,
.pager-previous > a:hover,
.pager-item > a:hover,
.pager-next > a:hover,
.pager-last > a:hover {
  color: white;
  background-color: #3d3d3d;
  text-decoration: none;
}

.pager-ellipsis {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.pager-current {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.86667em;
  line-height: 1.38462em;
  color: white;
  background-color: #999999;
  padding: 0 8px;
  margin: 0.46154em 2px;
}

.password-strength, div.password-confirm {
  font-size: 0.93333em;
  line-height: 1.28571em;
  margin-top: 1.28571em;
  width: 17em;
  float: right;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.password-strength-title {
  display: inline;
}

.password-strength-text {
  float: right;
  font-weight: bold;
}

.password-indicator {
  height: 0.21429em;
  background-color: #dbdbdb;
}
.password-indicator > .indicator {
  height: 100%;
  width: 0;
  background-color: #7a7a7a;
}

input.password-confirm,
input.password-field {
  width: 16em;
}

div.password-confirm {
  float: right;
  visibility: hidden;
  width: 17em;
}

.password-suggestions {
  font-size: 0.86667em;
  line-height: 1.38462em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.confirm-parent,
.password-parent {
  clear: left;
  margin: 0;
  width: 36.3em;
}

#block-search-form {
  *zoom: 1;
}
#block-search-form:before, #block-search-form:after {
  content: " ";
  display: table;
}
#block-search-form:after {
  clear: both;
}
