.icon-sprite, .read-more:after,
.node-link a:after, .icon-bubble-tail, .icon-calendar, li.event-date:before, .icon-close, .icon-delete, .comment-delete a, .icon-download, .icon-edit, .comment-edit a, .icon-facebook, .link--facebook:after, .icon-link, a.permalink, .icon-location, li.event-location:before, .icon-map, li.event-address:before, .icon-menu, .js .block--menu-main .block-title:before, .icon-more, .link--more:after, .icon-question, .field--session-questions .field-item:before, .icon-reply, .comment-reply a, .icon-twitter, .link--twitter:after {
  background: url('../images/icon-se68ab59c9f.png') no-repeat;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.link, .link--primary, .button, .button--secondary, .link--more, .link--twitter, .link--facebook, .nav--utility .link--register {
  font-size: 0.77778em;
  line-height: 1.28571em;
  text-decoration: none;
  color: #2aaae1;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.link:hover, .link--primary:hover, .button:hover, .button--secondary:hover, .link--more:hover, .link--twitter:hover, .link--facebook:hover, .nav--utility .link--register:hover {
  text-decoration: underline;
}
.link:hover, .link--primary:hover, .button:hover, .button--secondary:hover, .link--more:hover, .link--twitter:hover, .link--facebook:hover, .nav--utility .link--register:hover {
  color: #32bbe7;
}

input[type="submit"], .checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back, .link--primary, .button, .button--secondary, .nav--utility .link--register {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: none;
  letter-spacing: .1em;
  text-transform: uppercase;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
input[type="submit"]:hover, .checkout-buttons .checkout-cancel:hover,
.checkout-buttons .checkout-back:hover, .link--primary:hover, .button:hover, .button--secondary:hover, .nav--utility .link--register:hover {
  text-decoration: none;
}

.read-more,
.node-link a {
  font-size: 0.66667em;
  line-height: 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.25em 10px;
}

input[type="submit"], .checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back, .link--primary, .button, .button--secondary {
  font-size: 0.77778em;
  line-height: 1.28571em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  padding: 1.07143em 30px;
}
input[type="submit"]:active, .checkout-buttons .checkout-cancel:active,
.checkout-buttons .checkout-back:active, .link--primary:active, .button:active, .button--secondary:active {
  padding: 1.11429em 30px 1.02857em;
}

input#edit-preview, .checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back, .button {
  background-color: #dbdbdb;
  color: #7a7a7a;
  -webkit-box-shadow: 0 0 0 2px rgba(122, 122, 122, 0) inset;
  -moz-box-shadow: 0 0 0 2px rgba(122, 122, 122, 0) inset;
  box-shadow: 0 0 0 2px rgba(122, 122, 122, 0) inset;
}
input#edit-preview:hover, .checkout-buttons .checkout-cancel:hover,
.checkout-buttons .checkout-back:hover, .button:hover {
  background-color: #dbdbdb;
  color: #3d3d3d;
  -webkit-box-shadow: 0 0 0 2px #7a7a7a inset;
  -moz-box-shadow: 0 0 0 2px #7a7a7a inset;
  box-shadow: 0 0 0 2px #7a7a7a inset;
  text-shadow: 0 1px 0 #cccccc;
}
input#edit-preview:active, .checkout-buttons .checkout-cancel:active,
.checkout-buttons .checkout-back:active, .button:active {
  background-color: #cccccc;
  -webkit-box-shadow: 0 0 0 2px #7a7a7a inset;
  -moz-box-shadow: 0 0 0 2px #7a7a7a inset;
  box-shadow: 0 0 0 2px #7a7a7a inset;
}

.link--primary {
  background-color: #2aaae1;
  color: white;
  -webkit-box-shadow: 0 0 0 2px rgba(30, 142, 215, 0) inset;
  -moz-box-shadow: 0 0 0 2px rgba(30, 142, 215, 0) inset;
  box-shadow: 0 0 0 2px rgba(30, 142, 215, 0) inset;
}
.link--primary:hover {
  color: white;
  -webkit-box-shadow: 0 0 0 2px #006699 inset;
  -moz-box-shadow: 0 0 0 2px #006699 inset;
  box-shadow: 0 0 0 2px #006699 inset;
  text-shadow: 0 1px 0 #1e8ed7;
}
.link--primary:active {
  background-color: #1e8ed7;
  -webkit-box-shadow: 0 0 0 2px #006699 inset;
  -moz-box-shadow: 0 0 0 2px #006699 inset;
  box-shadow: 0 0 0 2px #006699 inset;
}

input[type="submit"], .button--secondary, .nav--utility .link--register {
  background-color: #adad00;
  color: white;
  -webkit-box-shadow: 0 0 0 2px rgba(132, 132, 0, 0) inset;
  -moz-box-shadow: 0 0 0 2px rgba(132, 132, 0, 0) inset;
  box-shadow: 0 0 0 2px rgba(132, 132, 0, 0) inset;
}
input[type="submit"]:hover, .button--secondary:hover, .nav--utility .link--register:hover {
  color: white;
  -webkit-box-shadow: 0 0 0 2px #535300 inset;
  -moz-box-shadow: 0 0 0 2px #535300 inset;
  box-shadow: 0 0 0 2px #535300 inset;
  text-shadow: 0 1px 0 #848400;
}
input[type="submit"]:active, .button--secondary:active, .nav--utility .link--register:active {
  background-color: #848400;
  -webkit-box-shadow: 0 0 0 2px #535300 inset;
  -moz-box-shadow: 0 0 0 2px #535300 inset;
  box-shadow: 0 0 0 2px #535300 inset;
}

.read-more:after,
.node-link a:after {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  content: "";
  position: relative;
  width: 18px;
  height: 18px;
  top: -1px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html,
button,
input,
select,
textarea {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 0.33333em 3em;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 0.33333em 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.33333em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 0.33333em 0;
}

dd {
  margin: 0 0 0 3em;
}

menu,
ol,
ul {
  padding: 0 0 0 3em;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border-color: #c1eaf8;
  margin: 0.66667em 0;
  padding: 0;
  border-top-style: solid;
  border-top-width: 0.05556em;
  padding-top: 0.61111em;
  border-bottom-style: solid;
  border-bottom-width: 0.05556em;
  padding-bottom: 0.61111em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* html {
  font-size: 112.5%;
}

html {
  font-size: 18px;
  line-height: 1.66667em;
  font-weight: 300;
}

body {
  color: #1e1e1e;
}

h1 {
  font-size: 3.33333em;
  line-height: 1.4em;
  margin-top: 0.8em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.8em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 2em;
  line-height: 1.33333em;
  margin-top: 1.41667em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.58333em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h3 {
  font-size: 1.16667em;
  line-height: 1.42857em;
  margin-top: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.57143em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h4 {
  font-size: 0.88889em;
  line-height: 1.5em;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5 {
  font-size: 0.77778em;
  line-height: 1.28571em;
  margin-top: 1.71429em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h6 {
  font-size: 0.72222em;
  line-height: 1.38462em;
  margin-top: 1.84615em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  letter-spacing: .03em;
  text-transform: uppercase;
}

a {
  color: #2aaae1;
}
a:hover {
  color: #1e8ed7;
}

p {
  margin: 0 0 1em;
}

blockquote {
  margin: 0.66667em 0 0.66667em 3em;
  font-style: italic;
}

menu, ul, ol {
  padding-left: 1.33333em;
  margin-bottom: 1.66667em;
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

dl {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #7a7a7a;
  -moz-box-shadow: 0 0 5px #7a7a7a;
  box-shadow: 0 0 5px #7a7a7a;
}

label {
  font-size: 0.77778em;
  line-height: 1.28571em;
  display: block;
  margin-bottom: 0.42857em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
label.option {
  display: inline;
  font-weight: normal;
}

fieldset {
  border: 0;
}

textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.05556em;
  padding: 0.11111em;
  padding: 0.33333em;
  margin-bottom: 0.33333em;
  max-width: 100%;
  background-color: white;
  border-color: #cccccc;
  border-top-color: #7a7a7a;
  color: #1e1e1e;
}
textarea:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  border-color: #3d3d3d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="file"] {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

select {
  font-size: 0.88889em;
  line-height: 1.5em;
  margin-bottom: 0.42857em;
}

table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 3.33333em;
}

thead {
  text-align: left;
}
thead th {
  vertical-align: bottom;
}

th,
td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #c1eaf8;
}

caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

tbody + tbody {
  border-top: 2px solid #c1eaf8;
}

td.active {
  background-color: transparent;
}

tr.odd {
  background-color: #f4fbfd;
}

tr.even {
  background-color: transparent;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.intro {
  font-size: 1.33333em;
  line-height: 1.25em;
}

.l-constrained {
  *position: relative;
  *zoom: 1;
  margin: 0 24px;
}
.l-constrained:before, .l-constrained:after {
  content: "";
  display: table;
}
.l-constrained:after {
  clear: both;
}
@media (min-width: 1248px) {
  .l-constrained {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}

#above-content {
  background-color: #f4fbfd;
  border-bottom: 1px solid #c1eaf8;
  padding: 1.33333em 0;
}

.not-front #sidebar-first {
  clear: both;
  padding-top: 1.66667em;
}
@media (min-width: 992px) {
  .not-front #sidebar-first {
    clear: none;
    padding-top: 0;
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}

#above-footer,
#footer {
  border-top: 1px solid #c1eaf8;
  *zoom: 1;
  margin-top: 2.66667em;
  padding: 2.66667em 0;
}
#above-footer:before, #above-footer:after,
#footer:before,
#footer:after {
  content: " ";
  display: table;
}
#above-footer:after,
#footer:after {
  clear: both;
}
#above-footer .l-constrained,
#footer .l-constrained {
  position: relative;
}

#above-footer {
  margin-bottom: -2.66667em;
}

#header {
  *zoom: 1;
}
#header:before, #header:after {
  content: " ";
  display: table;
}
#header:after {
  clear: both;
}
#header > .l-constrained {
  position: relative;
}

#branding {
  *zoom: 1;
  position: relative;
  margin: 0.66667em 0;
}
#branding:before, #branding:after {
  content: " ";
  display: table;
}
#branding:after {
  clear: both;
}
@media (min-width: 768px) {
  #branding {
    margin: 1.33333em 0;
  }
}
@media (min-width: 992px) {
  #branding {
    margin: 1.66667em 0;
  }
}
#branding a {
  display: block;
}
#branding img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 992px) {
  #branding img {
    float: left;
    margin: 0;
  }
}
#branding h1 {
  margin: 0;
}

#site-slogan {
  margin: 0;
  font-size: 0.88889em;
  line-height: 1.875em;
  text-align: center;
  display: none;
  visibility: hidden;
}
@media (min-width: 620px) {
  #site-slogan {
    display: block;
    visibility: visible;
  }
}
@media (min-width: 992px) {
  #site-slogan {
    position: absolute;
    right: 0;
    top: 0;
  }
}

#navigation {
  background-color: #f4fbfd;
  border-top: 1px solid #c1eaf8;
}
#navigation .l-constrained {
  margin: 0;
}
@media (min-width: 768px) {
  #navigation .l-constrained {
    margin: 0 24px;
  }
}
@media (min-width: 1248px) {
  #navigation .l-constrained {
    margin: 0 auto;
  }
}

.not-front #navigation {
  border-bottom: 6px solid #2aaae1;
}

#main-content {
  clear: both;
  padding: 2.66667em 0 0;
}

@media (min-width: 992px) {
  .front #main-content {
    float: left;
    width: 66.66667%;
    margin-left: 29.16667%;
    margin-right: -95.83333%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
  .front #content-aside {
    clear: left;
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}

@media (min-width: 992px) {
  .not-front #content {
    float: left;
    width: 70.83333%;
    margin-left: 0%;
    margin-right: -70.83333%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}

#messages {
  *zoom: 1;
}
#messages:before, #messages:after {
  content: " ";
  display: table;
}
#messages:after {
  clear: both;
}

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
  position: relative;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

.block-half {
  *zoom: 1;
  margin: 0 -24px;
  padding: 4.66667% 4.66667% 2.33333%;
}
.block-half:before, .block-half:after {
  content: " ";
  display: table;
}
.block-half:after {
  clear: both;
}
@media (min-width: 768px) {
  .block-half {
    float: left;
    margin: 0;
    width: 40.66667%;
  }
}

.block-reversed {
  margin-bottom: 1.33333em;
  padding: 1.33333em 1.33333em 0.66667em;
  background-color: #adad00;
  color: white;
}

.block-gray {
  margin-bottom: 1.33333em;
  padding: 1.33333em 1.33333em 0.66667em;
  background-color: #292929;
  color: #999999;
}
.block-gray h1, .block-gray h2, .block-gray h3, .block-gray h4, .block-gray h5, .block-gray h6 {
  color: white;
}
.block-gray strong {
  font-weight: 700;
}

.aside .block {
  margin-bottom: 3.33333em;
}

.js .block--expands {
  position: relative;
}
.js .block--expands .block-content {
  overflow: hidden;
  z-index: 2000;
}
@media (min-width: 768px) {
  .js .block--expands .block-content {
    position: relative;
    overflow: visible;
  }
}
.js .block--expands.is-expanded .block-content {
  display: block;
}

.js .block--expands--down .block-content {
  width: 100%;
  max-height: 0;
  background-color: white;
  -webkit-transition-property: max-height;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  transition-property: max-height;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
@media (min-width: 768px) {
  .js .block--expands--down .block-content {
    background-color: transparent;
  }
}
.js .block--expands--down.is-expanded .block-content {
  max-height: 21.66667em;
}

.block-title--clickable {
  display: none;
}
.js .block-title--clickable {
  display: block;
  cursor: pointer;
}
@media (min-width: 768px) {
  .js .block-title--clickable {
    display: none;
  }
}

.js .block--menu-main .block-title {
  font-size: 0.88889em;
  line-height: 2.25em;
  font-weight: bold;
  margin: 0;
  padding: 0.66667em 1.33333em 0.66667em 3.33333em;
  text-transform: uppercase;
  position: relative;
  color: #2aaae1;
}
.js .block--menu-main .block-title:hover {
  background-color: white;
}
.js .block--menu-main .block-title:before {
  content: "";
  height: 16px;
  width: 18px;
  position: absolute;
  left: 1.33333em;
  top: 50%;
  margin-top: -9px;
}
.js .block--menu-main.is-expanded .block-title {
  background-color: white;
}
.js .block--menu-main.is-expanded .block-title:before {
  height: 14px;
  width: 14px;
  margin-left: 2px;
  margin-top: -7px;
}
@media (min-width: 0) and (max-width: 767px) {
  .js .block--menu-main.is-expanded .block-content {
    -webkit-box-shadow: 0 1px 0 1px #2aaae1, 0 4px 0 1px #2aaae1;
    -moz-box-shadow: 0 1px 0 1px #2aaae1, 0 4px 0 1px #2aaae1;
    box-shadow: 0 1px 0 1px #2aaae1, 0 4px 0 1px #2aaae1;
  }
}
@media (min-width: 768px) {
  .js .block--menu-main .block-content {
    max-height: none;
  }
}

@media (min-width: 620px) {
  .block--sponsors .block-title,
  .block--sponsors-design-dev .block-title {
    float: left;
    margin-right: 30px;
  }
  .block--sponsors .view-header,
  .block--sponsors-design-dev .view-header {
    padding-top: 0.66667em;
  }
}
.block--sponsors .item-list,
.block--sponsors-design-dev .item-list {
  clear: both;
  margin-top: 3.33333em;
}
.block--sponsors .item-list h3,
.block--sponsors-design-dev .item-list h3 {
  font-size: 0.88889em;
  line-height: 1.875em;
  text-transform: uppercase;
  text-align: center;
  margin: 0.9375em 0;
}
.block--sponsors .item-list ul,
.block--sponsors-design-dev .item-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.block--sponsors .views-row,
.block--sponsors-design-dev .views-row {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1.66667em;
}
.block--sponsors .views-row img,
.block--sponsors-design-dev .views-row img {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  max-height: 100px;
  max-width: 80%;
  width: auto;
  height: auto;
}
@media (min-width: 768px) {
  .block--sponsors .views-row,
  .block--sponsors-design-dev .views-row {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    text-align: center;
    line-height: 120px;
    height: 120px;
    vertical-align: middle;
    margin-bottom: 0;
  }
}

.block--sponsors .item-list {
  border-bottom: 1px dotted #c1eaf8;
}
@media (min-width: 768px) {
  .block--sponsors .item-list h3 {
    margin: 0;
  }
  .block--sponsors .views-row {
    width: 25%;
  }
}

.block--sponsors-design-dev {
  *zoom: 1;
}
.block--sponsors-design-dev:before, .block--sponsors-design-dev:after {
  content: " ";
  display: table;
}
.block--sponsors-design-dev:after {
  clear: both;
}
.block--sponsors-design-dev .item-list {
  margin-top: 0;
}
@media (min-width: 768px) {
  .block--sponsors-design-dev .item-list {
    clear: none;
    float: left;
    width: 50%;
  }
  .block--sponsors-design-dev .item-list h3 {
    margin-top: 45px;
    float: left;
    width: 40%;
    position: relative;
  }
  .block--sponsors-design-dev .item-list ul {
    float: left;
    width: 40%;
  }
}

article.comment {
  margin-bottom: 30px;
  position: relative;
}
@media (min-width: 620px) {
  article.comment {
    padding-left: 36px;
    padding-top: 9px;
  }
}

.comment-portrait {
  display: none;
  visibility: hidden;
  max-width: 72px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
.comment-portrait .user-picture,
.comment-portrait a,
.comment-portrait img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: block;
  width: 100%;
}
@media (min-width: 620px) {
  .comment-portrait {
    display: block;
    visibility: visible;
  }
}

.comment-header {
  border: 1px solid #c1eaf8;
  border-bottom: none;
  background-color: #f4fbfd;
  padding: 0.66667em 3.33333em 0.66667em 1.33333em;
  position: relative;
}
@media (min-width: 620px) {
  .comment-header {
    padding: 0.66667em 3.33333em 0.66667em 2.66667em;
  }
}
.comment-header .permalink {
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -15px;
}

.comment-author {
  margin: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: baseline;
  margin-right: 12px;
  color: #2aaae1;
}

.comment-date {
  font-size: 0.77778em;
  line-height: 2.14286em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: baseline;
  margin: 0;
  color: #7a7a7a;
}

.comment-content {
  border: 1px solid #c1eaf8;
  border-top: none;
  padding: 1em 1.33333em 0.33333em;
}
@media (min-width: 620px) {
  .comment-content {
    padding: 1em 2.66667em 0.33333em;
  }
}

.comment-footer {
  padding: 0.33333em 0.83333em;
}
.comment-footer .links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}
.comment-footer .links li {
  display: inline;
}

.comments-title,
.comment-form-title {
  margin-top: 60px;
}

.permalink,
.comment-reply a,
.comment-delete a,
.comment-edit a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 30px;
  width: 30px;
  margin-left: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 200%;
}

.indent {
  margin-left: 12px;
}

ul.event-details {
  *zoom: 1;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
ul.event-details:before, ul.event-details:after {
  content: " ";
  display: table;
}
ul.event-details:after {
  clear: both;
}
ul.event-details li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.88889em;
  line-height: 1.125em;
  display: block;
  margin-bottom: 0.66667em;
  position: relative;
  vertical-align: middle;
  padding-left: 84px;
  padding-right: 6px;
}
ul.event-details li:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 0;
  z-index: 200;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 58px;
  width: 58px;
  background-color: white;
  border: 1px solid #c1eaf8;
}
ul.event-details li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 300;
}
ul.event-details span {
  font-size: 0.72222em;
  line-height: 1.38462em;
  vertical-align: middle;
}
@media (min-width: 620px) {
  ul.event-details {
    display: table;
  }
  ul.event-details li {
    float: left;
    margin: 0;
    width: 33%;
  }
  ul.event-details li:after {
    left: 0%;
    height: 70px;
    width: 70px;
    -webkit-box-shadow: 0 0 0 2px white inset, 0 0 0 3px #c1eaf8 inset;
    -moz-box-shadow: 0 0 0 2px white inset, 0 0 0 3px #c1eaf8 inset;
    box-shadow: 0 0 0 2px white inset, 0 0 0 3px #c1eaf8 inset;
  }
  ul.event-details li:before {
    top: 36px;
  }
}
@media (min-width: 992px) {
  ul.event-details {
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
  ul.event-details li {
    padding-left: 116px;
    padding-right: 0;
  }
  ul.event-details li:before, ul.event-details li:after {
    left: 13.33333%;
  }
}
@media (min-width: 1248px) {
  ul.event-details li {
    padding-left: 128px;
  }
}

li.event-date {
  padding-bottom: 24px;
  padding-top: 24px;
}
li.event-date:before {
  height: 31px;
  width: 30px;
  margin-left: 21px;
  margin-top: -15px;
}

li.event-location {
  padding-bottom: 18px;
  padding-top: 18px;
}
li.event-location:before {
  height: 40px;
  width: 30px;
  margin-left: 21px;
  margin-top: -20px;
}

li.event-address {
  padding-bottom: 6px;
  padding-top: 6px;
}
li.event-address:before {
  height: 27px;
  width: 30px;
  margin-left: 21px;
  margin-top: -14px;
}
li.event-address p {
  margin: 0;
}
li.event-address p.link-wrapper {
  margin-top: 0.33333em;
}
li.event-address p.link-wrapper a {
  display: block;
  white-space: nowrap;
}

.field-label {
  font-size: 0.77778em;
  line-height: 1.28571em;
  font-weight: bold;
  color: #161616;
}
.field-label label {
  font-size: 1em;
}

.read-more:after,
.node-link a:after {
  background-position: 0 -444px;
  margin-right: -4px;
}

.field--label-grid {
  *position: relative;
  *zoom: 1;
}
.field--label-grid:before, .field--label-grid:after {
  content: "";
  display: table;
}
.field--label-grid:after {
  clear: both;
}
.field--label-grid .field-label {
  display: block;
  font-size: 0.77778em;
  line-height: 2.14286em;
}
@media (min-width: 768px) {
  .field--label-grid .field-label {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    font-size: 0.77778em;
    line-height: 2.14286em;
  }
  .field--label-grid .field-items {
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}

.views-field-field-profile-org-1 {
  color: #1e1e1e;
  font-size: 0.88889em;
  line-height: 1.5em;
}

.views-field-field-profile-job-title {
  color: #7a7a7a;
  font-size: 0.88889em;
  line-height: 1.5em;
}

.views-field-field-profile-interests {
  font-size: 0.77778em;
  line-height: 1.5em;
}

a.username, .field--field-sponsor-related-attendees .field-item a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 6px;
  background-color: #f0f0f0;
  color: #3d3d3d;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.77778em;
  line-height: 1.28571em;
}
a.username:hover, .field--field-sponsor-related-attendees .field-item a:hover {
  background-color: #2aaae1;
  color: white;
}

.field--speaking-experience .field-label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 6px;
}
.field--speaking-experience .field-items {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.field--field-sponsor-related-attendees {
  border-top: 1px dotted #c1eaf8;
  margin-top: 1.66667em;
  padding-top: 1.66667em;
  *zoom: 1;
}
.field--field-sponsor-related-attendees:before, .field--field-sponsor-related-attendees:after {
  content: " ";
  display: table;
}
.field--field-sponsor-related-attendees:after {
  clear: both;
}
.field--field-sponsor-related-attendees .field-item {
  float: left;
  margin-right: 12px;
}

.form-item,
.form-actions {
  margin: 0 0 1.66667em 0;
}

.description,
.form-item-description {
  font-size: 0.77778em;
  line-height: 1.28571em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3d3d3d;
}

.fieldset-legend {
  font-size: 2em;
  line-height: 1.16667em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #2aaae1;
}

.fieldset-description {
  font-size: 0.77778em;
  line-height: 1.28571em;
  margin-bottom: 1.71429em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html.js input.form-autocomplete {
  background-position: 100% 6px;
}
html.js input.form-autocomplete.throbbing {
  background-position: 100% -14px;
}

.form-type-checkboxes .form-type-checkbox,
.form-type-radios .form-type-radio {
  margin: 0.33333em 0;
}

input.error,
textarea.error,
select.error {
  border: 2px solid red;
}

.machine-name-label {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.machine-name-value {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Courier New", Courier, monospace;
  margin: 0 .5em;
}

.form-required,
.marker {
  color: #b52828;
  font-weight: bold;
}

.vertical-tab-button {
  position: relative;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#active-vertical-tab {
  top: 0;
}

.form-actions input {
  margin-right: 1.66667em;
}

html.js input.form-autocomplete {
  padding: 0.16667em 0.33333em;
  background-position: 100% 8px;
}

html.js input.form-autocomplete.throbbing {
  background-position: 100% -12px;
}

#autocomplete {
  border: 1px solid #2aaae1;
}
#autocomplete li {
  color: #2aaae1;
  padding: .25em .5em;
}

.ckeditor_links {
  font-size: 0.72222em;
  line-height: 2.30769em;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 0 2.30769em;
  margin-top: 1.15385em;
}

.filter-wrapper {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border: 1px solid #dbdbdb;
  margin: 0;
  margin-top: -2.5em;
  padding: 3.33333em 1.66667em 0.83333em;
}
.filter-wrapper .filter-help {
  font-size: 0.72222em;
  line-height: 1.38462em;
  padding-right: 0;
}
.filter-wrapper .form-item {
  padding-left: 0;
}
.filter-wrapper .filter-guidelines {
  padding: 0;
  font-size: 0.77778em;
  line-height: 1.28571em;
}
.filter-wrapper .filter-guidelines .tips {
  font-size: 1em;
}

.text-format-wrapper {
  margin: 0 0 3.33333em;
}

.form-item {
  position: relative;
}

.tabledrag-toggle-weight-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.field-multiple-table .form-item {
  margin-bottom: 0;
  max-width: 90%;
}
.field-multiple-table input {
  margin: 0;
  max-width: 90%;
}
.field-multiple-table label.form-item-label {
  position: absolute;
  right: 100%;
  margin-right: 6px;
}

.vertical-tabs-panes {
  padding: 1.33333em;
}

.checkout-buttons .checkout-continue {
  margin-right: 24px;
}
.checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back {
  margin-left: 24px;
}

@media (min-width: 992px) {
  .get-involved {
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}

.get-involved--volunteer,
.get-involved--register {
  *zoom: 1;
  margin: 0 -24px;
  padding: 4.66667%;
}
.get-involved--volunteer:before, .get-involved--volunteer:after,
.get-involved--register:before,
.get-involved--register:after {
  content: " ";
  display: table;
}
.get-involved--volunteer:after,
.get-involved--register:after {
  clear: both;
}
@media (min-width: 620px) {
  .get-involved--volunteer,
  .get-involved--register {
    float: left;
    margin: 0;
    width: 40.66667%;
  }
}

.get-involved--register ul {
  padding: 0;
}
.get-involved--register ul li {
  float: left;
  list-style-type: none;
  margin-right: 24px;
}

.page-title {
  border-bottom: 6px solid #2aaae1;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0.8em;
  margin-bottom: 0.8em;
}
@media (min-width: 0) and (max-width: 767px) {
  .page-title {
    font-size: 2em;
    line-height: 1.16667em;
  }
}

.article-title {
  margin: 0 0 0.28571em;
  font-size: 1.16667em;
  line-height: 0.85714em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.block-title {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.58333em;
}

.icon-bubble-tail {
  background-position: 0 -413px;
}

.icon-calendar, li.event-date:before {
  background-position: 0 -188px;
}

.icon-close, .js .block--menu-main.is-expanded .block-title:before {
  background-position: 0 -339px;
}

.icon-delete, .comment-delete a {
  background-position: 0 -309px;
}
.icon-delete:hover, .comment-delete a:hover, .icon-delete.delete_hover, .comment-delete a.delete_hover, .icon-delete.delete-hover, .comment-delete a.delete-hover {
  background-position: 0 -219px;
}

.icon-download {
  background-position: 0 -40px;
}

.icon-edit, .comment-edit a {
  background-position: 0 -383px;
}
.icon-edit:hover, .comment-edit a:hover, .icon-edit.edit_hover, .comment-edit a.edit_hover, .icon-edit.edit-hover, .comment-edit a.edit-hover {
  background-position: 0 -353px;
}

.icon-facebook, .link--facebook:after {
  background-position: 0 -431px;
}

.icon-link, a.permalink {
  background-position: 0 -145px;
}
.icon-link:hover, a.permalink:hover, .icon-link.link_hover, a.link_hover.permalink, .icon-link.link-hover, a.link-hover.permalink {
  background-position: 0 -115px;
}

.icon-location, li.event-location:before {
  background-position: 0 0;
}

.icon-map, li.event-address:before {
  background-position: 0 -58px;
}

.icon-menu, .js .block--menu-main .block-title:before {
  background-position: 0 -452px;
}

.icon-more, .link--more:after {
  background-position: 0 -444px;
}

.icon-question, .field--session-questions .field-item:before {
  background-position: 0 -85px;
}

.icon-reply, .comment-reply a {
  background-position: 0 -279px;
}
.icon-reply:hover, .comment-reply a:hover, .icon-reply.reply_hover, .comment-reply a.reply_hover, .icon-reply.reply-hover, .comment-reply a.reply-hover {
  background-position: 0 -249px;
}

.icon-twitter, .link--twitter:after {
  background-position: 0 -175px;
}

.image-frame > img,
.image-frame > a > img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(61, 61, 61, 0.6) 0 1px 3px;
  -moz-box-shadow: rgba(61, 61, 61, 0.6) 0 1px 3px;
  box-shadow: rgba(61, 61, 61, 0.6) 0 1px 3px;
  padding: 4px;
  background-color: white;
}

.image-left {
  float: left;
  margin: 0 0 0.33333em 0;
}

.image-right {
  float: right;
  margin: 0 0 0.33333em 0;
}

.link--more {
  vertical-align: middle;
}
.link--more:after {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  content: " ";
  height: 8px;
  width: 6px;
  margin-left: 4px;
  margin-top: -4px;
}

.link--twitter {
  padding-left: 24px;
  position: relative;
}
.link--twitter:after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
  content: " ";
  height: 13px;
  width: 16px;
}
.link--twitter:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

.link--facebook {
  padding-left: 24px;
  position: relative;
}
.link--facebook:after {
  position: absolute;
  left: 4px;
  top: 50%;
  margin-top: -7px;
  content: " ";
  height: 13px;
  width: 8px;
}
.link--facebook:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

.nav--utility .link--register {
  font-size: 0.77778em;
  line-height: 1.28571em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.64286em 15px;
}
.nav--utility .link--register:active {
  padding: 0.72857em 15px 0.55714em;
}

.article-list {
  padding: 0;
  border-bottom: 1px solid #c1eaf8;
}

.article-item {
  border-top-style: solid;
  border-top-width: 0.05556em;
  padding-top: 0.61111em;
  padding-bottom: 0.66667em;
  display: block;
  border-color: #c1eaf8;
}

.no-bullets {
  margin: 0;
  padding: 0;
}
.no-bullets > li {
  list-style: none;
}

.list--dates {
  margin: 0;
}
.list--dates dt {
  border-top: 1px dotted #e6e600;
  font-size: 1em;
  line-height: 1.33333em;
  padding-top: 0.66667em;
}
.list--dates dd {
  font-size: 1em;
  line-height: 1.33333em;
  padding-bottom: 0.66667em;
}

@media (min-width: 480px) {
  .front .list--dates dt {
    float: left;
    padding-bottom: 0.66667em;
    width: 100px;
  }
  .front .list--dates dd {
    border-top: 1px dotted #e6e600;
    margin-left: 100px;
    padding-top: 0.66667em;
  }
}

.toboggan-unified #login-message {
  font-size: 2em;
  line-height: 1.16667em;
  margin-bottom: 0.83333em;
}
.toboggan-unified #login-links {
  *zoom: 1;
  font-size: 0.77778em;
  line-height: 1.28571em;
  margin-bottom: 4.28571em;
  padding: 0;
}
.toboggan-unified #login-links:before, .toboggan-unified #login-links:after {
  content: " ";
  display: table;
}
.toboggan-unified #login-links:after {
  clear: both;
}
.toboggan-unified #login-links a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  padding: 2em .5em;
  -webkit-box-shadow: 0 0 0 1px #93ceed inset;
  -moz-box-shadow: 0 0 0 1px #93ceed inset;
  box-shadow: 0 0 0 1px #93ceed inset;
  border: none;
  background-color: white;
  color: #adad00;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.toboggan-unified #login-links a:hover {
  background-color: #2aaae1;
  color: white;
  -webkit-box-shadow: 0 0 0 1px #2aaae1 inset;
  -moz-box-shadow: 0 0 0 1px #2aaae1 inset;
  box-shadow: 0 0 0 1px #2aaae1 inset;
}
.toboggan-unified #login-links a.lt-active {
  display: none;
  visibility: hidden;
  background-color: #2aaae1;
  border: none;
  color: white;
  -webkit-box-shadow: 0 2px 1px 1px #006699 inset;
  -moz-box-shadow: 0 2px 1px 1px #006699 inset;
  box-shadow: 0 2px 1px 1px #006699 inset;
}
.toboggan-unified #login-links a.lt-active:hover {
  background-color: #2aaae1;
  border: none;
  color: white;
}
@media (min-width: 620px) {
  .toboggan-unified #login-links a {
    float: left;
    width: 50%;
  }
  .toboggan-unified #login-links a:hover {
    border-bottom-color: #2aaae1;
  }
  .toboggan-unified #login-links a#login-link {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }
  .toboggan-unified #login-links a#register-link {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
  .toboggan-unified #login-links a.lt-active {
    display: block;
    visibility: visible;
  }
}

#register-form,
#login-form {
  *zoom: 1;
  margin: 0 auto;
  max-width: 600px;
}
#register-form:before, #register-form:after,
#login-form:before,
#login-form:after {
  content: " ";
  display: table;
}
#register-form:after,
#login-form:after {
  clear: both;
}

#login-form .login-forgot {
  margin-bottom: 1.33333em;
}
#login-form .login-forgot a {
  font-size: 0.77778em;
  line-height: 1.28571em;
  color: #7a7a7a;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
#login-form .login-forgot a:hover {
  color: #3d3d3d;
  text-decoration: underline;
}
@media (min-width: 620px) {
  #login-form .form-actions {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
  #login-form .form-actions .form-submit {
    width: 90%;
  }
  #login-form .login-forgot {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}

#marquee {
  background: url('../images/../images/bg_stata.jpg?1365872081') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
@media (min-width: 1248px) {
  #marquee {
    min-height: 564px;
  }
  #marquee .l-constrained {
    min-height: 564px;
    position: relative;
  }
}

.block-marquee {
  position: static;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.marquee--about {
  background: #2aaae1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.33333em;
}
.marquee--about h2 {
  font-size: 1.33333em;
  line-height: 1.25em;
  font-weight: 300;
  color: white;
  margin: 0;
}
@media (min-width: 0) and (max-width: 991px) {
  .marquee--about {
    margin: 0 -24px;
  }
}
@media (min-width: 992px) {
  .marquee--about {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25%;
    background: #2aaae1;
    background: rgba(42, 170, 225, 0.9);
    z-index: 400;
  }
}

.marquee--intro {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  padding: 1.33333em 1.33333em 0.66667em;
  border-bottom: 1px solid #c1eaf8;
}
@media (min-width: 0) and (max-width: 991px) {
  .marquee--intro {
    margin: 0 -24px;
  }
}
@media (min-width: 992px) {
  .marquee--intro {
    position: absolute;
    left: 0;
    top: 100%;
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    padding: 1.33333em 1.33333em 0.66667em;
    border: 1px solid #c1eaf8;
    border-top: none;
    z-index: 300;
  }
}

.marquee--date,
.marquee--location {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
}
@media (min-width: 0) and (max-width: 767px) {
  .marquee--date,
  .marquee--location {
    padding: 0.16667em 0.66667em;
  }
  .marquee--date h2,
  .marquee--location h2 {
    font-size: 0.88889em;
    line-height: 1.125em;
    display: inline;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .marquee--date,
  .marquee--location {
    height: 210px;
    width: 210px;
    padding-top: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
  }
  .marquee--date h2,
  .marquee--location h2 {
    font-size: 3.33333em;
    line-height: 1em;
    font-weight: 100;
    margin: 0;
  }
  .marquee--date span,
  .marquee--location span {
    font-size: 1.16667em;
    line-height: 2em;
    font-weight: 400;
    display: block;
  }
}

.marquee--date {
  right: 0;
  top: 0;
  background: #2aaae1;
  background: rgba(42, 170, 225, 0.9);
  color: white;
}
.marquee--date h2 {
  color: white;
}
@media (min-width: 768px) {
  .marquee--date {
    right: 24.16667%;
    top: 30px;
    z-index: 200;
  }
  .marquee--date span {
    text-transform: uppercase;
  }
}
@media (min-width: 992px) {
  .marquee--date {
    right: 10.83333%;
    top: 30px;
  }
}

.marquee--location {
  right: 0;
  top: 36px;
  background: white;
  color: #2aaae1;
}
.marquee--location h2 {
  color: #2aaae1;
}
@media (min-width: 768px) {
  .marquee--location {
    right: 2.5%;
    top: 100px;
    z-index: 250;
    background: rgba(255, 255, 255, 0.95);
  }
  .marquee--location em {
    font-size: 1.33333em;
    line-height: 0.5em;
    font-weight: 700;
    display: block;
  }
  .marquee--location .marquee--location-city {
    font-size: 0.88889em;
    line-height: 2.25em;
  }
}
@media (min-width: 992px) {
  .marquee--location {
    top: 190px;
  }
}

.marquee--image {
  width: 100%;
}
.marquee--image img {
  display: block;
}
@media (min-width: 1248px) {
  .marquee--image {
    display: none;
    visibility: hidden;
    height: 564px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
  }
  .marquee--image img {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: auto;
    min-width: 100%;
  }
}

.messages {
  padding: 2% 0;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.messages ul {
  margin-bottom: 0;
}
.messages a {
  color: white;
  font-weight: bold;
}
.messages.error {
  background-color: #b52828;
  -webkit-box-shadow: 0 2px 0 #a21e1e inset;
  -moz-box-shadow: 0 2px 0 #a21e1e inset;
  box-shadow: 0 2px 0 #a21e1e inset;
}
.messages.warning {
  background-color: #f27b25;
  -webkit-box-shadow: 0 2px 0 #ee5c1b inset;
  -moz-box-shadow: 0 2px 0 #ee5c1b inset;
  box-shadow: 0 2px 0 #ee5c1b inset;
}
.messages.status {
  background-color: #adad00;
  -webkit-box-shadow: 0 2px 0 #989800 inset;
  -moz-box-shadow: 0 2px 0 #989800 inset;
  box-shadow: 0 2px 0 #989800 inset;
}

.krumo-element,
.krumo-footnote,
.krumo-call,
.krumo-preview {
  color: black;
}

.meta {
  font-size: 0.77778em;
  line-height: 1.28571em;
}

.node-type-session h1.page-title {
  font-size: 1.33333em;
  line-height: 1.25em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
@media (min-width: 620px) {
  .node-type-session h1.page-title {
    font-size: 2em;
    line-height: 1.16667em;
  }
}
@media (min-width: 992px) {
  .node-type-session h1.page-title {
    font-size: 2.66667em;
    line-height: 1.125em;
  }
}
.node-type-session .content fieldset {
  padding-bottom: 0;
  margin: 0;
  margin-top: 5%;
  padding-top: 2.5%;
}
.node-type-session .field--label-grid {
  margin-bottom: 2.5%;
}
.node-type-session .field-label {
  color: #7a7a7a;
}

.field--session-questions {
  margin-bottom: 10%;
  margin-top: 10%;
}
.field--session-questions .field-label {
  font-size: 1.16667em;
  line-height: 1.42857em;
  font-weight: normal;
  margin-bottom: 0.28571em;
  color: #2aaae1;
}
.field--session-questions .field-item {
  margin-bottom: 0.33333em;
  padding-left: 42px;
  position: relative;
}
.field--session-questions .field-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
}

.nav {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}

.nav-inline > li {
  display: inline;
}
.nav-inline > li > a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.nav-tabs,
.nav-pills {
  *zoom: 1;
}
.nav-tabs:before, .nav-tabs:after,
.nav-pills:before,
.nav-pills:after {
  content: " ";
  display: table;
}
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  display: block;
  padding-right: 18px;
  padding-left: 18px;
  margin-right: 4px;
}

.nav-tabs {
  border-bottom: 1px solid #c1eaf8;
  margin: 0 0 2.66667em;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 0.05556em;
  padding-top: 0.44444em;
  border-bottom-style: solid;
  border-bottom-width: 0.05556em;
  padding-bottom: 0.44444em;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  border: 1px solid white;
  border-bottom-color: #c1eaf8;
  background-color: white;
  color: #7a7a7a;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-tabs > li > a:hover {
  background-color: #c1eaf8;
  border-color: #c1eaf8;
  color: #1e1e1e;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #292929;
  background-color: white;
  border: 1px solid #c1eaf8;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs.nav-stacked {
  border-bottom: none;
}
.nav-tabs.nav-stacked > li {
  margin-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: white 1px 1px 1px 0 inset, rgba(61, 61, 61, 0.2) -1px 0 0 0 inset;
  -moz-box-shadow: white 1px 1px 1px 0 inset, rgba(61, 61, 61, 0.2) -1px 0 0 0 inset;
  box-shadow: white 1px 1px 1px 0 inset, rgba(61, 61, 61, 0.2) -1px 0 0 0 inset;
  border-right-color: #f0f0f0;
  margin-left: -2px;
}
.nav-tabs.nav-stacked > li > a:hover {
  border-color: #999999 white #999999 #999999;
}
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:hover {
  -webkit-box-shadow: white 1px 1px 1px 0 inset;
  -moz-box-shadow: white 1px 1px 1px 0 inset;
  box-shadow: white 1px 1px 1px 0 inset;
  margin-right: -1px;
  border-right-color: transparent;
  border-bottom-color: #ddd;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li > a {
  display: block;
  padding: 0.33333em 12px;
  margin-right: 0;
}
.nav-stacked > li > a.active {
  font-weight: bold;
}

.nav-stacked.nav-buttons {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #999999;
}
.nav-stacked.nav-buttons > li {
  border-bottom: 1px solid #999999;
}
.nav-stacked.nav-buttons > li.last {
  border-bottom: none;
}
.nav-stacked.nav-buttons > li > a {
  font-size: 0.66667em;
  line-height: 1.5em;
  padding: 0.16667em 0;
  color: #006699;
}
.nav-stacked.nav-buttons > li > a:hover {
  background-color: #cceeff;
}
.nav-stacked.nav-buttons > li > a:active, .nav-stacked.nav-buttons > li > a.active {
  background-color: #006699;
  color: white;
}

.nav-inline.nav-buttons {
  *zoom: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(100%, #3d3d3d));
  background-image: -webkit-linear-gradient(top, #999999, #3d3d3d);
  background-image: -moz-linear-gradient(top, #999999, #3d3d3d);
  background-image: -o-linear-gradient(top, #999999, #3d3d3d);
  background-image: linear-gradient(top, #999999, #3d3d3d);
  display: none;
  margin: 0;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-right: #7a7a7a 1px solid;
  border-left: #999999 1px solid;
}
.nav-inline.nav-buttons:before, .nav-inline.nav-buttons:after {
  content: " ";
  display: table;
}
.nav-inline.nav-buttons:after {
  clear: both;
}
@media (min-width: 768px) {
  .nav-inline.nav-buttons {
    display: block;
  }
}
.nav-inline.nav-buttons > li {
  float: left;
  margin-right: 0;
}
.nav-inline.nav-buttons > li > a {
  text-shadow: 0px 1px 1px rgba(61, 61, 61, 0.6);
  height: 20px;
  border-right: #f0f0f0 1px solid;
  border-left: #dbdbdb 1px solid;
  padding: 14px 18px;
  margin: 0;
  color: white;
  font-weight: bold;
}
@media (min-width: 992px) {
  .nav-inline.nav-buttons > li > a {
    padding: 14px 24px;
  }
}
.nav-inline.nav-buttons > li > a:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #dbdbdb));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #dbdbdb);
  background-image: -moz-linear-gradient(top, #f0f0f0, #dbdbdb);
  background-image: -o-linear-gradient(top, #f0f0f0, #dbdbdb);
  background-image: linear-gradient(top, #f0f0f0, #dbdbdb);
}
.nav-inline.nav-buttons > li > a:active, .nav-inline.nav-buttons > li > a.active, .nav-inline.nav-buttons > li > a.active-trail {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #999999), color-stop(100%, #7a7a7a));
  background-image: -webkit-linear-gradient(bottom, #999999, #7a7a7a);
  background-image: -moz-linear-gradient(bottom, #999999, #7a7a7a);
  background-image: -o-linear-gradient(bottom, #999999, #7a7a7a);
  background-image: linear-gradient(bottom, #999999, #7a7a7a);
  border-right: #3d3d3d 1px solid;
  border-left: #3d3d3d 1px solid;
}

.menu-block-1 > ul > li.last > a {
  border-right: 1px solid #c1eaf8;
}
.menu-block-1 > ul > li > a {
  border-left: 1px solid #c1eaf8;
  margin-right: -1px;
  margin-top: -1px;
}

.nav--main {
  margin: 0;
  padding: 0;
}
.nav--main .nav--main {
  background-color: white;
}
.nav--main .nav-link {
  font-size: 0.88889em;
  line-height: 1.5em;
  color: #3d3d3d;
  display: block;
  padding: 0.66667em 1em;
  position: relative;
  text-decoration: none;
}
.nav--main .nav-link.active-trail, .nav--main .nav-link:hover {
  background-color: #2aaae1;
  border-left-color: #2aaae1;
  color: white;
  z-index: 100;
}
@media (min-width: 992px) {
  .nav--main .nav-link {
    padding: 0.66667em 1.66667em;
  }
}
.nav--main .nav-item:hover > .nav-link {
  background-color: #2aaae1;
  border-left-color: #2aaae1;
  color: white;
}
@media (min-width: 0) and (max-width: 767px) {
  .nav--main .nav-link {
    font-size: 1em;
    line-height: 1.33333em;
    border-left-color: transparent;
    padding: 1em 1.33333em;
  }
}
@media (min-width: 768px) {
  .nav--main {
    *zoom: 1;
  }
  .nav--main:before, .nav--main:after {
    content: " ";
    display: table;
  }
  .nav--main:after {
    clear: both;
  }
  .nav--main .nav-item {
    float: left;
  }
  .nav--main .nav-link {
    font-size: 0.88889em;
    line-height: 1.5em;
    padding: 0.66667em 0.83333em;
  }
}
@media (min-width: 992px) {
  .nav--main .nav-link {
    font-size: 1em;
    line-height: 1.33333em;
    padding: 0.66667em 1.33333em;
  }
}

.expanded .nav--dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 3000;
  min-width: 100%;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .nav--dropdown .expanded:hover {
    position: relative;
  }
  .nav--dropdown .expanded:hover .nav--dropdown {
    display: block;
  }
  .nav--dropdown .expanded:hover .nav-item {
    float: none;
    white-space: nowrap;
  }
}

#admin-menu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 10000;
}

.nav--footer {
  font-size: 0.88889em;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .nav--footer {
    margin: 0;
  }
}
.nav--footer a {
  text-decoration: none;
  text-transform: uppercase;
  color: #7a7a7a;
}
.nav--footer a:hover {
  color: #1e1e1e;
}
.nav--footer a:hover {
  text-decoration: underline;
}

.block-nav--social {
  margin: 0;
}
@media (min-width: 768px) {
  .block-nav--social {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.nav--social {
  font-size: 0.88889em;
  line-height: 1.5em;
  margin: 0;
}
.nav--social li {
  margin-right: 30px;
}
.nav--social li.last {
  margin-left: 0;
}

.block--menu-utility {
  text-align: center;
}
@media (min-width: 992px) {
  .block--menu-utility {
    position: absolute;
    right: 0;
    top: 50%;
  }
}

.nav--utility {
  margin: -12px -24px 12px;
}
@media (min-width: 992px) {
  .nav--utility {
    margin: 0;
  }
}
.nav--utility li {
  margin: 0 6px;
}
.nav--utility a {
  font-size: 0.77778em;
  line-height: 1.28571em;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 992px) {
  .block--menu-subnav {
    margin-top: -2.66667em;
  }
}

.nav--subnav {
  margin: 0;
}
.nav--subnav a {
  background-color: #2aaae1;
  color: white;
  display: block;
  padding: 0.66667em 1.33333em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.nav--subnav a:hover {
  background-color: #1e8ed7;
}
.nav--subnav a.active-trail:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid white;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}
@media (min-width: 992px) {
  .nav--subnav .last a {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.pager {
  padding-left: 0;
  margin-bottom: 0.66667em;
  text-align: center;
  list-style: none;
}

.pager-first,
.pager-previous,
.pager-item,
.pager-next,
.pager-last {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.pager-first > a,
.pager-previous > a,
.pager-item > a,
.pager-next > a,
.pager-last > a {
  font-size: 0.72222em;
  line-height: 1.38462em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #3d3d3d;
  background-color: #dbdbdb;
  padding: 2px 8px;
  margin: 0.46154em 2px;
}
.pager-first > a:hover,
.pager-previous > a:hover,
.pager-item > a:hover,
.pager-next > a:hover,
.pager-last > a:hover {
  color: white;
  background-color: #3d3d3d;
  text-decoration: none;
}

.pager-ellipsis {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.pager-current {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.72222em;
  line-height: 1.38462em;
  color: white;
  background-color: #999999;
  padding: 0 8px;
  margin: 0.46154em 2px;
}

.password-strength, div.password-confirm {
  font-size: 0.77778em;
  line-height: 1.28571em;
  margin-top: 1.28571em;
  width: 17em;
  float: right;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.password-strength-title {
  display: inline;
}

.password-strength-text {
  float: right;
  font-weight: bold;
}

.password-indicator {
  height: 0.21429em;
  background-color: #dbdbdb;
}
.password-indicator > .indicator {
  height: 100%;
  width: 0;
  background-color: #7a7a7a;
}

input.password-confirm,
input.password-field {
  width: 16em;
}

div.password-confirm {
  float: right;
  visibility: hidden;
  width: 17em;
}

.password-suggestions {
  font-size: 0.72222em;
  line-height: 1.38462em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.confirm-parent,
.password-parent {
  clear: left;
  margin: 0;
  width: 36.3em;
}

#block-views-c35ce757073fc9a536b5805044680fc8,
#block-views-c3a5c59240f78fca7e993c94f754bddd {
  padding-top: 3.33333em;
}
#block-views-c35ce757073fc9a536b5805044680fc8 .block-title,
#block-views-c3a5c59240f78fca7e993c94f754bddd .block-title {
  margin-bottom: 10%;
  margin-top: 0;
}
@media (min-width: 620px) {
  #block-views-c35ce757073fc9a536b5805044680fc8 .block-title,
  #block-views-c3a5c59240f78fca7e993c94f754bddd .block-title {
    margin-bottom: 5%;
  }
}
#block-views-c35ce757073fc9a536b5805044680fc8.is-collapsed,
#block-views-c3a5c59240f78fca7e993c94f754bddd.is-collapsed {
  display: none;
  visibility: hidden;
}

.schedule--timeslot {
  *zoom: 1;
  clear: both;
  padding: 0;
  margin-top: 5%;
}
.schedule--timeslot:before, .schedule--timeslot:after {
  content: " ";
  display: table;
}
.schedule--timeslot:after {
  clear: both;
}
.schedule--timeslot h4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f4fbfd;
  color: #2aaae1;
  margin: 0 0 5%;
  padding: 6% 5%;
  border-top: 6px solid #2aaae1;
}
@media (min-width: 620px) {
  .schedule--timeslot h4 {
    padding: 3% 5%;
  }
}
.schedule--timeslot h3 {
  clear: both;
  margin: 0 0 2.5%;
  padding: 0 5%;
  font-size: 0.88889em;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #7a7a7a;
}
@media (min-width: 620px) {
  .schedule--timeslot h3 {
    display: inline;
    float: left;
    margin-left: 5%;
    padding: 0;
    width: 20%;
    text-align: right;
  }
}

@media (min-width: 0) and (max-width: 619px) {
  .view-cod-session-schedule-entity > .view-content > div .view-sessions {
    border-top: 1px dotted #c1eaf8;
    clear: both;
    padding-top: 5%;
  }
  .view-cod-session-schedule-entity > .view-content > div:first-child .view-sessions {
    border-top: none;
    padding-top: 0;
  }
}

.schedule--session-details {
  margin-bottom: 5%;
  padding: 0 5%;
}
@media (min-width: 620px) {
  .schedule--session-details {
    float: right;
    padding: 0;
    width: 70%;
  }
}
.schedule--session-details h5 {
  font-size: 1.16667em;
  line-height: 1.42857em;
  margin: 0;
}
.schedule--session-details h5 a {
  text-decoration: none;
  color: #1e8ed7;
}
.schedule--session-details h5 a:hover {
  color: #006699;
}
.schedule--session-details h5 a:hover {
  text-decoration: underline;
}
.schedule--session-details p {
  font-size: 0.77778em;
  line-height: 1.28571em;
  color: #999999;
  margin: 0;
}

.nav-schedule {
  *zoom: 1;
  font-size: 0.77778em;
  line-height: 1.28571em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav-schedule:before, .nav-schedule:after {
  content: " ";
  display: table;
}
.nav-schedule:after {
  clear: both;
}
.nav-schedule.nav-schedule--bottom {
  margin-bottom: 10%;
}
.nav-schedule a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  padding: 2em .5em;
  -webkit-box-shadow: 0 0 0 1px #93ceed inset;
  -moz-box-shadow: 0 0 0 1px #93ceed inset;
  box-shadow: 0 0 0 1px #93ceed inset;
  border: none;
  background-color: white;
  color: #adad00;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-schedule a:hover {
  background-color: #2aaae1;
  color: white;
  -webkit-box-shadow: 0 0 0 1px #2aaae1 inset;
  -moz-box-shadow: 0 0 0 1px #2aaae1 inset;
  box-shadow: 0 0 0 1px #2aaae1 inset;
}
.nav-schedule a.is-active {
  background-color: #2aaae1;
  border: none;
  color: white;
  -webkit-box-shadow: 0 1px 1px 1px #006699 inset;
  -moz-box-shadow: 0 1px 1px 1px #006699 inset;
  box-shadow: 0 1px 1px 1px #006699 inset;
}
.nav-schedule a.is-active:hover {
  background-color: #2aaae1;
  border: none;
  color: white;
}
@media (min-width: 0) and (max-width: 619px) {
  .nav-schedule a.day-1 {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }
  .nav-schedule a.day-2 {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }
}
@media (min-width: 620px) {
  .nav-schedule li {
    float: left;
    width: 50%;
  }
  .nav-schedule a:hover {
    border-bottom-color: #2aaae1;
  }
  .nav-schedule a.day-1 {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }
  .nav-schedule a.day-2 {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
  .nav-schedule a.is-active {
    display: block;
    visibility: visible;
  }
}

#block-search-form {
  *zoom: 1;
}
#block-search-form:before, #block-search-form:after {
  content: " ";
  display: table;
}
#block-search-form:after {
  clear: both;
}

.profile {
  position: relative;
}
@media (min-width: 620px) {
  .profile {
    padding-left: 210px;
  }
  .profile .user-picture {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.profile .user-picture a,
.profile .user-picture img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: block;
  width: 100%;
  max-width: 180px;
}
.profile .group-name {
  font-size: 2em;
  line-height: 1.16667em;
  margin-bottom: 1.66667em;
  padding-top: 1.66667em;
}
.profile .group-name div {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.profile .group-name .field--field-profile-first {
  margin-right: 6px;
}
.profile .field--label-grid {
  border-top: 1px dotted #2aaae1;
  padding: 1.66667em 0;
}

.view-speakers .photo a,
.view-speakers .photo img {
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.view-speakers h3 {
  font-size: 2em;
  line-height: 1.16667em;
  margin-top: 0;
}
.view-speakers .views-row {
  *zoom: 1;
  border-bottom: 1px dotted #2aaae1;
  position: relative;
}
.view-speakers .views-row:before, .view-speakers .views-row:after {
  content: " ";
  display: table;
}
.view-speakers .views-row:after {
  clear: both;
}

.view-id-speakers.view-display-id-page > .view-content .views-row {
  margin-top: 3.33333em;
  padding: 0 0 2em;
}
@media (min-width: 480px) {
  .view-id-speakers.view-display-id-page > .view-content .views-row {
    padding-left: 30%;
  }
}
.view-id-speakers.view-display-id-page > .view-content .photo {
  margin-bottom: 30px;
}
@media (min-width: 480px) {
  .view-id-speakers.view-display-id-page > .view-content .photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
  }
}

.attachment .view-speakers .view-header {
  border-bottom: 6px solid #2aaae1;
  margin-top: 60px;
}
.attachment .view-speakers .photo {
  margin-bottom: 18px;
  width: 72px;
}
.attachment .view-speakers .views-row {
  min-height: 72px;
  margin-top: 1em;
  padding-bottom: 1em;
}
.attachment .view-speakers h3 {
  font-size: 1.16667em;
  line-height: 1.42857em;
  display: inline;
  margin: 0 6px 0 0;
  vertical-align: middle;
}
.attachment .view-speakers h4 {
  font-size: 1em;
  font-weight: normal;
  display: inline;
  margin: 0;
  vertical-align: middle;
}
.attachment .view-speakers .session-title {
  font-weight: bold;
}
@media (min-width: 480px) {
  .attachment .view-speakers .views-row {
    padding-left: 90px;
  }
  .attachment .view-speakers .photo {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.page-attendees #content {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/sites/all/themes/center/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
.page-attendees #sidebar-first {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/sites/all/themes/center/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

.view-attendees-d4d- .view-filters,
.view-attendees-new .view-filters {
  *zoom: 1;
  margin-bottom: 30px;
}
.view-attendees-d4d- .view-filters:before, .view-attendees-d4d- .view-filters:after,
.view-attendees-new .view-filters:before,
.view-attendees-new .view-filters:after {
  content: " ";
  display: table;
}
.view-attendees-d4d- .view-filters:after,
.view-attendees-new .view-filters:after {
  clear: both;
}
.view-attendees-d4d- .view-filters .views-exposed-widget,
.view-attendees-new .view-filters .views-exposed-widget {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  float: left;
  margin-bottom: 24px;
  padding-right: 30px;
}
.view-attendees-d4d- .view-filters .form-item,
.view-attendees-new .view-filters .form-item {
  margin-bottom: 0;
}
.view-attendees-d4d- .view-filters .form-item input,
.view-attendees-new .view-filters .form-item input {
  margin-bottom: 0;
}
.view-attendees-d4d- .views-submit-button,
.view-attendees-new .views-submit-button {
  float: left;
  clear: left;
}
@media (min-width: 992px) {
  .view-attendees-d4d- .views-submit-button,
  .view-attendees-new .views-submit-button {
    clear: none;
    margin-top: 18px;
  }
}
.view-attendees-d4d- .photo,
.view-attendees-new .photo {
  display: block;
  height: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.view-attendees-d4d- .photo img,
.view-attendees-new .photo img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.view-attendees-d4d- .photo a, .view-attendees-d4d- .photo img,
.view-attendees-new .photo a,
.view-attendees-new .photo img {
  display: block;
}
.view-attendees-d4d- h3,
.view-attendees-new h3 {
  font-size: 1em;
  line-height: 1.33333em;
  margin: 0;
}
.view-attendees-d4d- .field--organization,
.view-attendees-new .field--organization {
  font-size: 0.77778em;
  line-height: 1.28571em;
  color: #7a7a7a;
}
.view-attendees-d4d- .photo,
.view-attendees-new .photo {
  max-width: 60px;
  position: absolute;
  left: 0;
  top: 0;
}
.view-attendees-d4d- .views-row,
.view-attendees-new .views-row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 72px;
  padding-top: 6px;
  min-height: 60px;
  margin-bottom: 30px;
  position: relative;
}
.view-attendees-d4d- .views-row .user-picture,
.view-attendees-new .views-row .user-picture {
  height: 120px;
}
@media (min-width: 620px) {
  .view-attendees-d4d- .views-row,
  .view-attendees-new .views-row {
    float: left;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
  }
  .view-attendees-d4d- .views-row .photo,
  .view-attendees-new .views-row .photo {
    max-width: 120px;
    margin: 0 auto 18px;
    position: relative;
  }
}
@media (min-width: 620px) and (max-width: 991px) {
  .view-attendees-d4d- .views-row,
  .view-attendees-new .views-row {
    width: 25%;
  }
  .view-attendees-d4d- .views-row:nth-child(4n+1),
  .view-attendees-new .views-row:nth-child(4n+1) {
    clear: left;
  }
}
@media (min-width: 992px) {
  .view-attendees-d4d- .views-row,
  .view-attendees-new .views-row {
    width: 16.66666%;
  }
  .view-attendees-d4d- .views-row:nth-child(6n+1),
  .view-attendees-new .views-row:nth-child(6n+1) {
    clear: left;
  }
}

.page-sponsors .view-sponsors h3 {
  font-size: 2em;
  line-height: 1.16667em;
  margin: 0 0 3% 0;
  text-align: center;
}
.page-sponsors .view-sponsors .item-list {
  border-top: 1px solid #c1eaf8;
  clear: both;
  padding-top: 10%;
}
.page-sponsors .view-sponsors .item-list:first-child {
  border-top: none;
  padding-top: 0;
}
.page-sponsors .view-sponsors .item-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.page-sponsors .view-sponsors .item-list li {
  margin-bottom: 10%;
}
.page-sponsors .view-sponsors .item-list a {
  display: block;
  text-align: center;
}
.page-sponsors .view-sponsors .item-list img {
  display: block;
  margin: 0 auto;
  max-height: 120px;
  max-width: 84%;
  width: auto;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .page-sponsors .view-sponsors .item-list {
    padding-top: 3%;
  }
  .page-sponsors .view-sponsors .item-list li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-bottom: 3%;
    width: 49%;
  }
  .page-sponsors .view-sponsors .item-list a {
    line-height: 120px;
  }
  .page-sponsors .view-sponsors .item-list img {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    max-height: 120px;
  }
}
@media (min-width: 1248px) {
  .page-sponsors .view-sponsors .item-list li {
    width: 33%;
  }
  .page-sponsors .view-sponsors .item-list a {
    line-height: 160px;
  }
  .page-sponsors .view-sponsors .item-list img {
    max-height: 160px;
  }
}

.page-program-sessions #content {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/sites/all/themes/center/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
.page-program-sessions #sidebar-first {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/sites/all/themes/center/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

.view-sessions .view-filters {
  *zoom: 1;
}
.view-sessions .view-filters:before, .view-sessions .view-filters:after {
  content: " ";
  display: table;
}
.view-sessions .view-filters:after {
  clear: both;
}
.view-sessions .view-filters .views-exposed-widget {
  float: left;
  margin-right: 30px;
}
.view-sessions .views-submit-button {
  margin-top: 18px;
}
.view-sessions .views-table th {
  padding: 0.85714em 1.71429em;
  font-size: 0.77778em;
  line-height: 1.28571em;
}
.view-sessions .views-table td {
  padding: 0.85714em 1.71429em;
  font-size: 0.77778em;
  line-height: 1.28571em;
}
.view-sessions .views-table td.views-field-title {
  font-size: 1em;
  line-height: 1.33333em;
  padding: 0.66667em 1.33333em;
  font-weight: bold;
}
