.icon-sprite {
  background: url('../images/icon-se68ab59c9f.png') no-repeat;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.link {
  font-size: 0.77778em;
  line-height: 1.28571em;
  text-decoration: none;
  color: #2aaae1;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.link:hover {
  text-decoration: underline;
}
.link:hover {
  color: #32bbe7;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html,
button,
input,
select,
textarea {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 0.33333em 3em;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 0.33333em 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.33333em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 0.33333em 0;
}

dd {
  margin: 0 0 0 3em;
}

menu,
ol,
ul {
  padding: 0 0 0 3em;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border-color: #c1eaf8;
  margin: 0.66667em 0;
  padding: 0;
  border-top-style: solid;
  border-top-width: 0.05556em;
  padding-top: 0.61111em;
  border-bottom-style: solid;
  border-bottom-width: 0.05556em;
  padding-bottom: 0.61111em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* html {
  font-size: 112.5%;
}

html {
  font-size: 18px;
  line-height: 1.66667em;
  font-weight: 300;
}

body {
  color: #1e1e1e;
}

h1 {
  font-size: 3.33333em;
  line-height: 1.4em;
  margin-top: 0.8em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.8em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 2em;
  line-height: 1.33333em;
  margin-top: 1.41667em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.58333em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h3 {
  font-size: 1.16667em;
  line-height: 1.42857em;
  margin-top: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.57143em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h4 {
  font-size: 0.88889em;
  line-height: 1.5em;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5 {
  font-size: 0.77778em;
  line-height: 1.28571em;
  margin-top: 1.71429em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h6 {
  font-size: 0.72222em;
  line-height: 1.38462em;
  margin-top: 1.84615em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  letter-spacing: .03em;
  text-transform: uppercase;
}

a {
  color: #2aaae1;
}
a:hover {
  color: #1e8ed7;
}

p {
  margin: 0 0 1em;
}

blockquote {
  margin: 0.66667em 0 0.66667em 3em;
  font-style: italic;
}

menu, ul, ol {
  padding-left: 1.33333em;
  margin-bottom: 1.66667em;
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

dl {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #7a7a7a;
  -moz-box-shadow: 0 0 5px #7a7a7a;
  box-shadow: 0 0 5px #7a7a7a;
}

label {
  font-size: 0.77778em;
  line-height: 1.28571em;
  display: block;
  margin-bottom: 0.42857em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
label.option {
  display: inline;
  font-weight: normal;
}

fieldset {
  border: 0;
}

textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.05556em;
  padding: 0.11111em;
  padding: 0.33333em;
  margin-bottom: 0.33333em;
  max-width: 100%;
  background-color: white;
  border-color: #cccccc;
  border-top-color: #7a7a7a;
  color: #1e1e1e;
}
textarea:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  border-color: #3d3d3d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="file"] {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

select {
  font-size: 0.88889em;
  line-height: 1.5em;
  margin-bottom: 0.42857em;
}

table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 3.33333em;
}

thead {
  text-align: left;
}
thead th {
  vertical-align: bottom;
}

th,
td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #c1eaf8;
}

caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

tbody + tbody {
  border-top: 2px solid #c1eaf8;
}

td.active {
  background-color: transparent;
}

tr.odd {
  background-color: #f4fbfd;
}

tr.even {
  background-color: transparent;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.intro {
  font-size: 1.33333em;
  line-height: 1.25em;
}

.image-frame > img,
.image-frame > a > img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(61, 61, 61, 0.6) 0 1px 3px;
  -moz-box-shadow: rgba(61, 61, 61, 0.6) 0 1px 3px;
  box-shadow: rgba(61, 61, 61, 0.6) 0 1px 3px;
  padding: 4px;
  background-color: white;
}

.image-left {
  float: left;
  margin: 0 0 0.33333em 0;
}

.image-right {
  float: right;
  margin: 0 0 0.33333em 0;
}
