//
// @file
// Styles for all regions within main.
// ----------------------------------------------------------------------------

// Main
#main {
  background-color: $white;
}

// Above content
#above-content {
  padding: rhythm(4) 0;
}

// Main content
#main-content {
  padding: rhythm(2) 0;
}