//
// @file
// Header region styles.
// ----------------------------------------------------------------------------

// Header region
#header {
  @include clearfix;
  padding: rhythm(1) 0;
  @include breakpoint($tablet) {
	  padding: rhythm(2) 0;
	}
}

// Branding component
#branding {
  float: left;
  max-width: 100%;
  img {
  	display: block;
  }
}