/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */





/* 
**********************
Content Area
**********************
*/

#zone-content-wrapper #zone-content {
	/*padding-left:40px;*/
	padding-top:10px;
}

#zone-content-wrapper #zone-content.container-12 .grid-9 {
    width: 495px;
}

#section-content {
    position: relative;
    top: 10px;
}

#section-content h1#page-title {
    background-color: #F1F5F4;
    display: block; 
    line-height: 54px;
    width: 100%;
	margin-bottom:20px;
}

#section-content h1 span.grayArea {
	bottom: -14px;
    font-family: 'Varela',sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -4px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 695px;
}

#section-content div,
#section-content p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
	
}

#section-content #region-content p {
	color:gray;
}

/*
Sidebars
*/
#region-sidebar-first,
#region-sidebar-second {
	position:relative;
}

#region-sidebar-first h2 {
    background-color: #F1F5F4;
    display: block;
    height: auto;
    width: 170px;
}
#region-sidebar-first #block-block-4 h2 span.grayArea {
    bottom: -27px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    width: 695px;
}
h2.block-title {
    font-size: 18px;
    margin: 0 0 12px;
}

/* 
**********************
Main Menu
**********************
*/


#zone-menu-wrapper {
	position:relative;
	top:14px;
}
#zone-menu-wrapper #block-superfish-1 li a {
    background-position: left 0;
    background-repeat: no-repeat;
    color: #000000;
    direction: rtl;
    display: inline-block;
    font-size: 12pt;
    font-weight: bold;
    height: 23px;
    letter-spacing: 3pt;
    margin: 0;
    padding: 39px 0 2px;
    position: relative;
    text-align: right;
    text-decoration: none;
    text-indent: 0px;
    text-transform: lowercase;
    width: 106px;
    z-index: 20;
	-webkit-transition: color 0.5s ease;
 	-moz-transition: color 0.5s ease;
 	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

#zone-menu-wrapper #block-superfish-1 li a:hover {
	color:#00c7ff;
}
#zone-menu-wrapper #block-superfish-1 li {
    background-image: url("../img/menu-bar.gif");
    background-position: 0 bottom;
    background-repeat: repeat-x;
    color: #000000;
    display: inline-block;
    font-size: 12pt;
    font-weight: bold;
    height: 63px;
    letter-spacing: 3pt;
    margin: 0 6px 0 0;
    padding: 0 0 2px;
    text-align: right;
    text-decoration: none;
    text-transform: lowercase;
    width: 106px;
}
#zone-menu-wrapper #block-superfish-1 li.sf-depth-1.active-trail a {
	width:106px;
	z-index:10;
	background-color: #D1F5FF;
}


#zone-menu-wrapper #block-superfish-1 li.sf-depth-1.active-trail a {
	-webkit-transition:none;
 	-moz-transition:none;
 	-o-transition:none;
	transition:none;
}
#zone-menu-wrapper #block-superfish-1 li.sf-depth-1.active-trail a:hover {
	background-color:#00c7ff;
	color:#000000;
}

#zone-menu-wrapper #block-superfish-1 li.sf-depth-1.last {
	margin: 0;
}
#zone-menu-wrapper #block-superfish-1 li span {
    bottom: 4px;
    display: block;
    height: 49px;
    position: absolute;
    width: 50px;
    z-index: 10;
}


/*

Second level of depth
#f8ff19
*/

#zone-menu-wrapper #block-superfish-1 li li {
    background: none repeat scroll 0 0 #fff;
    height: auto;
    margin: 0;
    padding: 0;
    width: 106px !important;
}

#zone-menu-wrapper #block-superfish-1 li li a {
    direction: rtl;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    letter-spacing: 2px;
    margin: 0;
    padding: 5px 0 0;
    position: relative;
    text-align: right;
    text-indent: -2px;
    width: 106px !important;
}

#zone-menu-wrapper #block-superfish-1 li li a:hover {
	background-color:#00c7ff;
	color:#000;
}
/*
#zone-menu-wrapper #block-superfish-1 li li {
	background-color:#00c7ff;
}

#zone-menu-wrapper #block-superfish-1 li li a:hover {
	background-color:#ffffff;
	color:#00CBFE;
}

*/

#zone-menu-wrapper #block-superfish-1 li.sf-depth-2.active-trail a {
	background-color:#ffd719;
}

#zone-menu-wrapper #block-superfish-1 li.sf-depth-2.active-trail a:hover {
	background-color:#3c74bf;
}

#zone-menu-wrapper #block-superfish-1 li span,
#zone-menu-wrapper #block-superfish-1 ul ul
 {
	display:none;
}

#zone-menu-wrapper #block-superfish-1 li a {
	font-size:12px;
}

/*
FACE
*/
.not-logged-in #eyesOpen { 
	background-image: url("../img/eyes.png");
    display: block;
    height: 43px;
    position: relative;
    top: 59px;
    width: 80px;
    z-index: 20000;
	cursor:pointer;
	background-position:bottom left;
    left: 320px;
}


#block-block-4 {
    width: 163px;
}

#region-sidebar-first #block-block-4 h2 span.grayArea {
	font-size:15px;
}

#region-sidebar-first #block-block-4 h2 {
	background-color:transparent;
	
}

#region-sidebar-first #block-block-4 h2 span.grayArea {
    bottom: -15px;	
}

/* indentation fix for safari */
#zone-menu-wrapper  #block-superfish-1 ul li.sf-depth-1 li a {
	display: table-cell;
    line-height: 23px;
    padding-left: 0;
    text-indent: 0;
    width: 125px !important;
}

