/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

body {
	background-image:url('../img/header-bg.jpg');
}

#secondBG {
    background-image: url("../img/header-bg2.jpg");
    background-position: center top;
    display: block;
    height: 269px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

#section-footer #zone-footer {
    background-image: url("../img/footer-bg.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    display: block;
    height: 172px;
}

body.page-admin {
	background:none;
}

.breadcrumb {
    display:block;
}

aside#region-sidebar-first {
	display:block;
}

#region-content .tabs {
	display:block;
}

#section-header {
	margin-bottom:0px;
}

#block-system-main {
	padding:0;
}

#section-content h1#page-title {
    margin-left: 0;
}

#zone-branding-wrapper h1 a,
#zone-branding-wrapper h2 a {
    display: block;
	font-family: Arial,Helvetica,sans-serif;
    height: 198px;
	margin: 0 auto;
    padding: 0;
    position: relative;
    text-indent: -99999px;
    top: 5px;
    width: 364px;
}

hgroup.site-name-slogan {
	width:100%;
}

#region-branding {
	display:block;
	height: 226px;
    width: 100%;
	left: 0;
    margin: 0 auto;
    padding: 0;
    position:relative;
    top: 0;
}

#zone-menu-wrapper {
	margin-top:0px;
	margin-bottom:20px;}
/*
Main Menu
*/

/* turn off basic menu, turn on superfish
*/

.menu-name-main-menu {
	display:none;
}

#block-superfish-1 {
	display:block;
}

/* core settings

*/



#zone-menu-wrapper #block-superfish-1 ul ul {
top:64px;
}

#zone-menu-wrapper #block-superfish-1 li a {
    background-position: left 0;
    background-repeat: no-repeat;
    color: #000000;
    display: inline-block;
    font-size: 10pt;
    font-weight: bold;
    height: 23px;
    letter-spacing: 3pt;
    margin: 0;
    padding: 39px 0 2px;
    position: relative;
    text-decoration: none;
    text-transform: lowercase;
    width: 100%;
    z-index: 20;
	-webkit-transition: color 0.5s ease;
 	-moz-transition: color 0.5s ease;
 	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

#zone-menu-wrapper #block-superfish-1 li.sf-depth-1 a {
	direction: ltr;
    text-align: left;
}

#zone-menu-wrapper #block-superfish-1 li a:hover {
	color:#00c7ff;
}
#zone-menu-wrapper #block-superfish-1 li {
    background-image: url("../img/menu-bar.gif");
    background-position: 0 bottom;
    background-repeat: repeat-x;
    color: #000000;
    display: inline-block;
    font-size: 12pt;
    font-weight: bold;
    height: 63px;
    letter-spacing: 3pt;
    margin: 0 6px 0 0;
    padding: 0 0 2px;
    text-align: right;
    text-decoration: none;
    text-transform: lowercase;
    width: 100%;
}
/*
Main Menu
*/

#zone-menu-wrapper #block-superfish-1 li span {
    bottom: 4px;
    display: block;
    height: 49px;
    position: absolute;
    width: 50px;
    z-index: 10;
}

#zone-menu-wrapper #block-superfish-1 li {
    margin: 0 6px 0 0;
    width: 130px;
}
#zone-menu-wrapper #block-superfish-1 li li,
.sf-menu ul,
#zone-menu-wrapper #block-superfish-1 ul ul,
#zone-menu-wrapper #block-superfish-1 li.sf-depth-1.active-trail a {
	width: 130px !important;
}

#zone-menu-wrapper #block-superfish-1 li a {
	width: 130px !important;
}

#superfish-1 {
    margin: 0;
    padding: 0;
    width: 100%;
}


#zone-menu-wrapper #block-superfish-1 li {
    margin: 0 5px 0 0;
    width: 100%;
}
#zone-menu-wrapper #block-superfish-1 li li,
.sf-menu ul,
#zone-menu-wrapper #block-superfish-1 ul ul,
#zone-menu-wrapper #block-superfish-1 li a,
#zone-menu-wrapper #block-superfish-1 li li a,
#zone-menu-wrapper #block-superfish-1 li.sf-depth-1.active-trail a {
	width: 100% !important;
}


/*
*/
#zone-menu-wrapper #block-superfish-1 li span {
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    bottom: 4px;
    display: block;
    height: 49px;
    position: absolute;
    width: 50px;
    z-index: 10;
}


#zone-menu-wrapper #block-superfish-1 li span.myIconHover {
    bottom: 62px;
    display: block;
    height: 60px;
    left: 0;
    position: relative;
    width: 50px;
    z-index: 25;
	opacity:0;
}

#zone-menu-wrapper #block-superfish-1 li {
    margin: 0 6px 0 0;
    width: 130px;
}
#zone-menu-wrapper #block-superfish-1 li li,
.sf-menu ul,
#zone-menu-wrapper #block-superfish-1 ul ul,
#zone-menu-wrapper #block-superfish-1 li.sf-depth-1.active-trail a {
	width: 130px !important;
}

#zone-menu-wrapper #block-superfish-1 li a {
	width: 130px !important;
}

#zone-content-wrapper #zone-content.container-12 .grid-9 {
    width: 860px;
}

#zone-branding-wrapper .container-12 {
	margin-left: auto;
    margin-right: auto;
}

#zone-branding-wrapper h1 {
	padding: 0;
	margin: 0;
}
#zone-branding-wrapper h6 {
	font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0px;
	display:block;
	z-index:20;
}
.admin-menu #zone-branding-wrapper h6 {
	top:-12px;
	z-index:20;
}
/* footer

*/



#zone-postscript-wrapper {
	display:block;
	margin-top: 40px;
}

#zone-postscript-wrapper .container-12 .grid-6 {
	width:34%;
}
#region-postscript-first span.icon {
    background-image: url("../img/flag.jpg");
    background-repeat: no-repeat;
	width:40px;
	height:40px;
	display:block;
}
#region-postscript-second span.icon {
    background-image: url("../img/star.jpg");
    background-repeat: no-repeat;
    width:40px;
	height:40px;
	display:block;
}
#region-postscript-second {
	float:right;
}

#zone-postscript-wrapper h2 {
    background-image: url("../img/menu-bar.gif");
    background-position: 0 bottom;
    background-repeat: repeat-x;
    color: #000000;
    display: inline-block;
    font-size: 12pt;
    font-weight: bold;
    height: 63px;
    letter-spacing: 3pt;
    margin: 0 6px 0 0;
    padding: 0 0 2px;
    text-align: right;
    text-decoration: none;
    text-transform: lowercase;
    width: 100%;
}
#zone-postscript-wrapper h2 span.text {
	line-height:104px;
}
#zone-postscript-wrapper h2 span.icon {
    bottom: 91px;
    height: 49px;
    position: relative;
    width: 50px;
}

/* footer */

#region-footer-first {
    text-align: right;
}

.region-footer-first-inner {
	position: relative;
    top: 150px;
}

#region-footer-first * {
	float:right;
	margin:0 0 0 4px;
	padding:0;
}
#region-footer-first li,
#region-footer-first p,
#region-footer-first a {
	list-style:none;
	font-weight: bold;
    letter-spacing: 1px;
	font-size:12px;
}
#region-footer-first li a,
#region-footer-first li,
#region-footer-first p
{
	color:#474741;
}

#region-footer-first li a:hover {
	color:#00C7FF;
}
#block-block-4 {
    background-color: #FDFFBE;
    margin-bottom: 10px;
    padding: 0 0 0 7px;
    width: 257px;
}

#block-block-4 h2 {
	background: none;
	margin-bottom:27px;
}

#block-block-4 h2 span.grayArea {
	border-bottom: 1px solid #000000;
    font-size: 25px;
    font-style: normal;
    letter-spacing: 1px;
    margin: 0 0 10px;
    padding: 0;
}

#block-block-4 dd {
	padding:0;
}
/*
.nav-schedule a,
a.button {
    background-color: #00CBFE;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    clear: both;
    color: #000000;
    display: block;
    line-height: 20px;
    margin-right: 10px;
    margin-top: 12px;
    padding: 10px;
    position: relative;
    text-align: center;
}
*/
.nav-schedule a, a.button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD #BBBBBB #999999;
    border-image: none;
    border-radius: 11px 11px 11px 11px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    display: block;
    font: bold 12px/1.2 Arial,sans-serif;
    left: -6px;
    margin: 0 10px 0 0;
    outline: 0 none;
    overflow: visible;
    padding: 9px 9px 8px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px #FFFFFF;
    text-transform: none;
    vertical-align: middle;
}

.nav-schedule a:hover,
.button:hover {
	color: #3C74BF;
}
.nav-schedule a.is-active {
	/* background-color:#3C74BF; */
	/* color:#ffffff; */
	background-color: #D1F5FF;
}

.view-cod-session-schedule-entity h5 {
	margin-bottom:0;
}

.view-cod-session-schedule-d4d .views-row-even,
.view-cod-session-schedule-d4d .views-row-odd {
	margin: 10px 0;
    padding: 3px 0 20px;
}

#section-content #region-content .view-cod-session-schedule-d4d h4 {
	padding: 0;
	margin:0;
}
.view-cod-session-schedule-d4d .views-row-even {
	background-color:#F1F5F4;
}

#section-content #region-content .nav-schedule li {
	 display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 50%;
}

.view-cod-session-schedule-entity {
	padding: 0 0 0 10px;
}

#section-content #region-content ul .nav-schedule {
	margin: 0;
    padding: 0;
}

#section-content #region-content h2, #section-content #region-content h3, #section-content #region-content h4 {
    font-family: 'Varela',sans-serif;
    letter-spacing: -1px;
    margin-bottom: 15px;
    margin-top: 25px;
}

#section-content #region-content ul li {
    color: #808080;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    font-family: Arial,Helvetica,sans-serif;
}

#section-content #zone-content-wrapper #region-content ul {
    margin: 0 0 10px 0;
    padding: 7px 0 0;
}

.is-collapsed {
	display:none;
}

.is-expanded {
	display:block;
}

#block-views-c35ce757073fc9a536b5805044680fc8 .block-title, #block-views-c3a5c59240f78fca7e993c94f754bddd .block-title {
	 background-image: url("../img/menu-bar.gif");
    background-position: 0 bottom;
    background-repeat: repeat-x;
    color: #000000;
    display: inline-block;
    font-size: 20pt;
    font-weight: bold;
    height: 31px;
    padding: 0 0 2px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
}
#section-content #zone-content-wrapper #region-content ul {
	padding:0 0 0 25px;
}

#section-content #zone-content-wrapper #region-content ul.nav-schedule {
	padding:0;
	margin:0;
}


