/* This file will hold styles that are loaded using the same media query as the wide grid. */

#zone-content-wrapper #zone-content.container-12 .grid-9 {
    width: 870px;
}

#zone-menu-wrapper #block-superfish-1 li span,
#zone-menu-wrapper #block-superfish-1 ul ul
 {
	display:block;
}

#zone-menu-wrapper #block-superfish-1 li li,
.sf-menu ul,
#zone-menu-wrapper #block-superfish-1 ul ul,
#zone-menu-wrapper #block-superfish-1 li a,
#zone-menu-wrapper #block-superfish-1 li li a,
#zone-menu-wrapper #block-superfish-1 li.sf-depth-1.active-trail a {
	width: 227px !important;
}

#zone-menu-wrapper #block-superfish-1 li a {
    font-size: 14px;
}

#zone-menu-wrapper #block-superfish-1 li li, .sf-menu ul, #zone-menu-wrapper #block-superfish-1 ul ul, #zone-menu-wrapper #block-superfish-1 li a, #zone-menu-wrapper #block-superfish-1 li, #zone-menu-wrapper #block-superfish-1 li li a, #zone-menu-wrapper #block-superfish-1 li.sf-depth-1.active-trail a {
    width: 188px !important;
}

#region-sidebar-first h2 {
    width: 265px;
	margin-bottom: 35px;
}
#region-sidebar-first .content {
	width: 260px;
}

#zone-menu-wrapper #block-superfish-1 li.sf-depth-1 a {
    text-indent: 50px;
}

/*
FACE
*/
.not-logged-in #eyesOpen {
    left: 560px;
}

/* indentation fix for safari */
#zone-menu-wrapper  #block-superfish-1 ul li.sf-depth-1 li a {
	padding-left: 50px;
    text-indent: 0;
	line-height: 23px;
    width: 177px !important;
	display:table-cell;
}

#zone-branding-wrapper h1 {
	padding: 0;
	margin: 0 0 43px 0;
}

#zone-menu-wrapper {
	margin-top:20px;
	margin-bottom:20px;}