#zone-menu-wrapper #block-superfish-1 li span {
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    bottom: 4px;
    display: block;
    height: 49px;
    position: absolute;
    width: 50px;
    z-index: 10;
	left:0;
}

#IEZONE {
}

#zone-menu-wrapper #block-superfish-1 li span.myIcon {
	left:0;
	display:none !important;
	opacity:0 !important;
}

#zone-menu-wrapper #block-superfish-1 li span.myIconHover {
	left:0;
	display:none !important;
	opacity:0 !important;
}

#zone-menu-wrapper #block-superfish-1 li.sf-depth-2 {
	background:#F8FF19;
	height:20px;
}

#zone-menu-wrapper #block-superfish-1 a.sf-depth-2 {
	background:#F8FF19;
	height:20px;
	padding-top:0;
}

#zone-menu-wrapper #block-superfish-1 li.sf-depth-1 a {
	direction: ltr;
    text-align: left;
    text-indent: 0px;
}

#zone-menu-wrapper #block-superfish-1 li.sf-depth-1 a {
	font-size:12px;
}
