//
// @file
// Block specific styles.
// ----------------------------------------------------------------------------

.block-half {
	@include clearfix;
	margin: 0 -24px;
	padding: cp(42, 900) cp(42, 900) cp(21, 900);
	@include breakpoint($tablet) {
		float: left;
		margin: 0;
		width: cp(366, 900);
	}
}

.block-reversed {
	margin-bottom: rhythm(4);
	padding: rhythm(4) rhythm(4) rhythm(2);
	background-color: $green;
	color: $white;
}

.block-gray {
	margin-bottom: rhythm(4);
	padding: rhythm(4) rhythm(4) rhythm(2);
	background-color: $gray-darkest;
	color: $gray-light;
	h1, h2, h3, h4, h5, h6 {
		color: $white;
	}
	strong {
		font-weight: 700;
	}
}

.aside .block {
	margin-bottom: rhythm(10);
}

//	Expanding Main Navigation

.js .block--expands {
  position: relative;

  .block-content {
    // position: absolute;
    overflow: hidden;
    z-index: 2000;

	  @include breakpoint($tablet, $no-query: 'lt-ie9') {
	  	position: relative;
	  	overflow: visible;
	  }
  }

  &.is-expanded {
    .block-content {
      display: block;
    }
  }
}

.js .block--expands--down {
  .block-content {
    // top: 100%;
    width: 100%;
    max-height: 0;
    background-color: $white;
    @include transition-property(max-height);
    @include transition-duration(.15s);
    @include transition-timing-function(ease-out);
	  @include breakpoint($tablet, $no-query: 'lt-ie9') {
	  	background-color: transparent;
	  }
  }

  &.is-expanded {
    .block-content {
      max-height: rhythm(65);
    }
  }
}

.block-title--clickable {
  display: none;

  .js & {
    display: block;
    cursor: pointer;
  }

  @include breakpoint($tablet, $no-query: 'lt-ie9') {
    .js & {
      display: none;
    }
  }
}

.js .block--menu-main {

	.block-title {
		@include adjust-font-size-to($fs-m, 6);
		font-weight: bold;
		margin: 0;
    padding: rhythm(2) rhythm(4) rhythm(2) rhythm(10);
		text-transform: uppercase;
		position: relative;
		color: $blue;
		&:hover {
			background-color: $white;
		}
		&:before {
			content: "";
			height: 16px;
			width: 18px;
			position: absolute;
			left: rhythm(4);
			top: 50%;
			margin-top: -9px;
			@extend .icon-menu;
		}
	}

	&.is-expanded {
		.block-title {
			background-color: $white;
			&:before {
				height: 14px;
				width: 14px;
				margin-left: 2px;
				margin-top: -7px;
				@extend .icon-close;
			}
		}
	}
	@include breakpoint(0 ($tablet - 1px)) {
		&.is-expanded {
			.block-content {
			  @include box-shadow(0 1px 0 1px $blue, 0 4px 0 1px $blue);
			}
		}
	}
  @include breakpoint($tablet, $no-query: '.lt-ie9') {
    .block-content {
      max-height: none;
    }
  }
}

.block--sponsors,
.block--sponsors-design-dev {
	@include breakpoint($mobile-wide, $no-query: 'lt-ie9') {
		.block-title {
			float: left;
			margin-right: 30px;
		}
		.view-header {
			padding-top: rhythm(2);
			// text-align: right;
		}
	}
	.item-list {
		clear: both;
		margin-top: rhythm(10);
		h3 {
			@include adjust-font-size-to($fs-m, 5);
			text-transform: uppercase;
			text-align: center;
			margin: rhythm(2.5, $fs-m) 0;
			// margin: 0;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;
		}
	}
	.views-row {
		text-align: center;
		vertical-align: middle;
		margin-bottom: rhythm(5);
		img {
			@include inline-block;
			vertical-align: middle;
			max-height: 100px;
			max-width: 80%;
			width: auto;
			height: auto;
		}
	}
  @include breakpoint($tablet, $no-query: 'lt-ie9') {
		.views-row {
			@include inline-block;
			@include inline-block;
			text-align: center;
			line-height: 120px;
			height: 120px;
			vertical-align: middle;
			margin-bottom: 0;
		}
	}
}

.block--sponsors {
	.item-list {
		border-bottom: 1px dotted $clr-border;
	}
  @include breakpoint($tablet, $no-query: 'lt-ie9') {
  	.item-list {
  		h3 {
  			margin: 0;
  		}
  	}
		.views-row {
			width: 25%;
		}
	}
}

.block--sponsors-design-dev {
	@include clearfix;
	.item-list {
		margin-top: 0;
	}
  @include breakpoint($tablet, $no-query: 'lt-ie9') {
		.item-list {
			clear: none;
			float: left;
			width: 50%;
			h3 {
				margin-top: 45px;
				float: left;
				// padding-top: 30px;
				width: 40%;
				position: relative;
			}
			ul {
				float: left;
				width: 40%;
			}
		}
		// .views-row {
		// 	width: 40%;
		// }
	}
}