//
// @file
// Comment styles.
// ----------------------------------------------------------------------------

article.comment {
	// border-bottom: 1px dotted $blue;
	margin-bottom: 30px;
	// padding-top: 30px;
	// padding-bottom: 30px;
	position: relative;

	@include breakpoint($mobile-wide) {
		padding-left: 36px;
		padding-top: 9px;
	}
}

.comment-portrait {
	display: none;
	visibility: hidden;

	max-width: 72px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	.user-picture,
	a,
	img {
		@include border-radius(50%);
		display: block;
		width: 100%;
	}
	@include breakpoint($mobile-wide) {
		display: block;
		visibility: visible;
	}
}

.comment-main {
	// border: 1px solid $blue-lightest;
	// padding: rhythm(5) rhythm(5);
}

.comment-header {
	border: 1px solid $blue-lightest;
	border-bottom: none;
	background-color: $blue-white;
	padding: rhythm(2) rhythm(10) rhythm(2) rhythm(4);
	@include breakpoint($mobile-wide) {
		padding: rhythm(2) rhythm(10) rhythm(2) rhythm(8);
	}
	position: relative;
	// margin-bottom: 30px;
	.permalink {
		display: block;
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -15px;
	}
}

.comment-author {
	margin: 0;
	@include inline-block;
	vertical-align: baseline;
	margin-right: 12px;
	color: $blue;
}

.comment-date {
	@include adjust-font-size-to($fs-s, 5);
	@include inline-block;
	vertical-align: baseline;
	margin: 0;
	color: $gray;
}

.comment-content {
	// margin-bottom: 30px;
	border: 1px solid $blue-lightest;
	border-top: none;
	padding: rhythm(3) rhythm(4) rhythm(1);
	@include breakpoint($mobile-wide) {
		padding: rhythm(3) rhythm(8) rhythm(1);
	}
}

.comment-footer {
	padding: rhythm(1) rhythm(2.5);
	.links {
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: right;

		li {
			display: inline;
		}
	}
}

.comments-title,
.comment-form-title {
	margin-top: 60px;
}
// .comments-title {
// 	margin-bottom: 0;
// 	padding-bottom: rhythm(3.5, $fs-h2);
// 	border-bottom: 1px dotted $blue;
// }

// Link buttons
.permalink,
.comment-reply a,
.comment-delete a,
.comment-edit a {
  @include inline-block;
  height: 30px;
  width: 30px;
  margin-left: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 200%;
}

a.permalink {
	@extend .icon-link;
}
.comment-reply a {
	@extend .icon-reply;
}
.comment-delete a {
	@extend .icon-delete;
}
.comment-edit a {
  @extend .icon-edit;
}

// Nested reply
.indent {
  margin-left: 12px;
}