//
// @file
// Field styles.
// ----------------------------------------------------------------------------

// Default field label
.field-label {
  @include adjust-font-size-to($fs-s);
  font-weight: bold;
  color: blend-overlay(rgba($black, .25), $clr-text);
  label {
    font-size: 1em;
  }
}

// More links
.read-more,
.node-link a {
  @extend %button--small;
  @extend %button-icon--after;

  &:after {
    @include icon-sprite(more);
    margin-right: -4px;
  }
}

.field--label-grid {
  @include zen-grid-container;
  .field-label {
    display: block;
    @include adjust-font-size-to($fs-s, 5);
  }
  @include breakpoint($tablet) {
    .field-label {
      @include zen-grid-item(3, 1, $column-count: 12);
      @include adjust-font-size-to($fs-s, 5);
    }
    .field-items {
      @include zen-grid-item(9, 4, $column-count: 12);
    }
  }
}


.views-field-field-profile-org-1 {
	color: $gray-darker;
	@include adjust-font-size-to($fs-m);
}
.views-field-field-profile-job-title {
	color: $gray;
	@include adjust-font-size-to($fs-m);
}

.views-field-field-profile-interests {
	@include adjust-font-size-to($fs-s, 3.5);
}

a.username {
  @include inline-block;
  padding: 0 6px;
  background-color: $gray-white;
  color: $gray-dark;
  text-decoration: none;
  @include border-radius;
  @include adjust-font-size-to($fs-s);
  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.field--speaking-experience {
  .field-label {
    @include inline-block;
    margin-right: 6px;
  }
  .field-items {
    @include inline-block;
  }
}

.field--field-sponsor-related-attendees {
  border-top: 1px dotted $clr-border;
  margin-top: rhythm(5);
  padding-top: rhythm(5);
  @include clearfix;
  .field-item {
    float: left;
    margin-right: 12px;
    a {
      @extend a.username;
    }
  }
}
