//
// @file
// Form component.
//
// Ideally we would be sticking to .form-item, .form-item-label and
// .form-item-description, but we need to make some allowances for drupal's
// default markup.
// ----------------------------------------------------------------------------


.form-item,
.form-actions {
  margin: 0 0 rhythm(5) 0;
}

.description,
.form-item-description {
  @include adjust-font-size-to($fs-s);
  font-family: $ff-sans;
  color: $gray-dark;
}


// FIELDSETS
.fieldset-legend {
  @include adjust-font-size-to($fs-xxxl);
  font-family: $ff-sans;
  // font-weight: bold;
  font-weight: 300;
  color: $blue;
}

.fieldset-description {
  @include adjust-font-size-to($fs-s);
  margin-bottom: rhythm(4, $fs-s);
  font-family: $ff-sans;
}


// AUTOCOMPLETE
// Adjust the background position to account for the larger input size.
html.js input.form-autocomplete {
  background-position: 100% 6px;

  &.throbbing {
    background-position: 100% -14px;
  }
}


// CHECKBOXES & RADIOS
// Since these are groups of related form-items, we reduce the spacing a bit.
.form-type-checkboxes .form-type-checkbox,
.form-type-radios .form-type-radio {
  margin: rhythm(1) 0;
}


// ERRORS
input.error,
textarea.error,
select.error {
  border: 2px solid red;
}


// MACHINE NAMES
.machine-name-label {
  font-family: $ff-sans;
  font-weight: bold;
}

.machine-name-value {
  font-family: $ff-mono;
  margin: 0 .5em;
}


// REQUIRED
.form-required,
.marker {
  color: $clr-error;
  font-weight: bold;
}


// VERTICAL TABS
// These are based on the FAPI vertical tab markup which is different than the
//  nav component.
// @todo See if consolidating these is feasible.
// @todo Consolidate these styles with core's vertical-tabs.css
.vertical-tab-button {
  position: relative;
  font-family: $ff-sans;
}

// Setting the active tab by id assumes only one set of vertical tabs per page.
// @todo Change #active-vertical-tab to .active-vertical-tab
#active-vertical-tab {
  // Removes the awkward box outline on :focus
  top: 0;
}

input[type="submit"] {
  @extend %button;
  @extend %button--medium;
  @extend %button--secondary;
}

input#edit-preview {
  @extend %button--simple;
}

.form-actions {
  input {
    margin-right: rhythm(5);
  }
}

html.js input.form-autocomplete {
  padding: rhythm(.5) rhythm(1);
  background-position: 100% 8px;
}
html.js input.form-autocomplete.throbbing {
  background-position: 100% -12px;
}

#autocomplete {
  border: 1px solid $blue;
  li {
    color: $blue;
    padding: .25em .5em;
  }
}

.ckeditor_links {
  @include adjust-font-size-to($fs-xs, 5);
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 0 rhythm(5, $fs-xs);
  margin-top: rhythm(2.5, $fs-xs);
  // margin-bottom: rhythm(5, $fs-xs);
}

.filter-wrapper {
  @include border-bottom-radius;
  @include box-sizing(border-box);
  background-color: $gray-white;
  border: 1px solid $gray-lightest;
  margin: 0;
  margin-top: -(rhythm(7.5));
  padding: rhythm(10) rhythm(5) rhythm(2.5);
  .filter-help {
    @include adjust-font-size-to($fs-xs);
    padding-right: 0;
  }
  .form-item {
    padding-left: 0;
  }
  .filter-guidelines {
    padding: 0;
    @include adjust-font-size-to($fs-s);
    .tips {
      font-size: 1em;
    }
  }
}

.text-format-wrapper {
  margin: 0 0 rhythm(10);
}

.form-item {
  position: relative;
}
.tabledrag-toggle-weight-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.field-multiple-table {
  .form-item {
    margin-bottom: 0;
    max-width: 90%;
  }
  input {
    margin: 0;
    max-width: 90%;
  }
  label.form-item-label {
    position: absolute;
    right: 100%;
    margin-right: 6px;
  }
}

.vertical-tabs-panes {
  padding: rhythm(4);
}

.checkout-buttons {
  .checkout-continue {
    margin-right: 24px;
  }

  .checkout-cancel,
  .checkout-back {
    margin-left: 24px;
    @extend %button;
    @extend %button--medium;
    @extend %button--simple;
  }
}
