//
// @file
// Heading and title styles.
// ----------------------------------------------------------------------------

// Page titles
.page-title {
  // margin-bottom: rhythm(4, $fs-xxxxl);
  border-bottom: 6px solid $blue;
  // color: $blue;
  @include rhythm(0, 0, 8, 8, $fs-h1);
  @include breakpoint(0 ($tablet - 1)) {
    @include adjust-font-size-to($fs-xxxl);
  }
}

// Article title (non-full-display node titles )
.article-title {
  margin: 0 0 rhythm(1, $fs-xl);
  @include adjust-font-size-to($fs-xl, 3);
  font-family: $ff-heading;
  font-weight: bold;
}

// Block title
.block-title {
  // @include adjust-font-size-to($fs-l);
  // margin-bottom: rhythm(4, $fs-l);
  // color: $clr-text;
  // font-family: $ff-body;
  // text-transform: uppercase;
  @include rhythm(0, 0, 0, 3.5, $fs-h2);
}
