
// Primary button


.link--primary {
	@extend .link;
  @extend %button;
  @extend %button--medium;
  @extend %button--primary;
}

.button {
	@extend .link;
  @extend %button;
  @extend %button--medium;
  @extend %button--simple;
}

.button--secondary {
	@extend .link;
	@extend %button;
	@extend %button--medium;
	@extend %button--secondary;
}

//	More

.link--more {
	@extend .link;
	// padding-right: 12px;
	// position: relative;
	vertical-align: middle;
	&:after {
		@include inline-block;
		// position: absolute;
		// right: 0;
		// top: 50%;
		// margin-top: -4px;
		vertical-align: middle;
		content: " ";
		height: 8px;
		width: 6px;
		margin-left: 4px;
		margin-top: -4px;
		@extend .icon-more;
	}
}

//	Social Links

.link--twitter {
	@extend .link;
	padding-left: 24px;
	position: relative;
	&:after {
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -6px;
		content: " ";
		height: 13px;
		width: 16px;
		@extend .icon-twitter;
	}
	&:hover:after {
		@include opacity(.75);
	}
}

.link--facebook {
	@extend .link;
	padding-left: 24px;
	position: relative;
	&:after {
		position: absolute;
		left: 4px;
		top: 50%;
		margin-top: -7px;
		content: " ";
		height: 13px;
		width: 8px;
		@extend .icon-facebook;
	}
	
	&:hover:after {
		@include opacity(.75);
	}
}

//	Utility Links

.nav--utility .link--register {
	@extend .link;
	@extend %button;
	// @extend %button--small;
	@extend %button--secondary;
	@include adjust-font-size-to($fs-s);
	@include border-radius($radius-s);
	font-weight: bold;
	padding: rhythm(1.5, $fs-s) 15px;
	&:active {
	  padding: rhythm(1.7, $fs-s) 15px rhythm(1.3, $fs-s);
	}
}