//
// @file
// Heading and title styles.
// ----------------------------------------------------------------------------

// Article list
.article-list {
  padding: 0;
  border-bottom: 1px solid $clr-border;
}

.article-item {
  @include leading-border(1px, 2);
  padding-bottom: rhythm(2);
  display: block;
  border-color: $clr-border;
}

// Feature list
.feature-list {
}

.feature-item {
}

// No bullets
.no-bullets {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}

//  Important Dates

.list--dates {
  margin: 0;
  dt {
    border-top: 1px dotted $green-lighter;
    @include adjust-font-size-to($fs-l);
    padding-top: rhythm(2);
  }
  dd {
    @include adjust-font-size-to($fs-l);
    padding-bottom: rhythm(2);
  }
}
.front .list--dates {
  @include breakpoint($mobile) {
    dt {
      float: left;
      padding-bottom: rhythm(2);
      width: 100px;
    }
    dd {
      border-top: 1px dotted $green-lighter;
      margin-left: 100px;
      padding-top: rhythm(2);
    }
  }
}