//
// @file
// Login-Toboggan specific styles.
// ----------------------------------------------------------------------------

.toboggan-unified {

	#login-message {
		@include adjust-font-size-to($fs-h2);
		margin-bottom: rhythm(5, $fs-h2);
	}

	#login-links {
		@include clearfix;
		@include adjust-font-size-to($fs-s);
		margin-bottom: rhythm(10, $fs-s);
		padding: 0;
		a {
			@include box-sizing(border-box);
			@include border-radius;
			display: block;
		  padding: 2em .5em;
		  // border: 1px solid $blue-lighter;
	  	@include box-shadow(0 0 0 1px $blue-lighter inset);
		  border: none;
	  	background-color: $white;
		  color: $green;
		  font-weight: bold;
		  text-decoration: none;
		  text-transform: uppercase;
		  &:hover {
		  	background-color: $blue;
		  	color: $white;
		  	@include box-shadow(0 0 0 1px $blue inset);
		  }
		  &.lt-active {
		  	display: none;
		  	visibility: hidden;
		  	background-color: $blue;
		  	// border: 1px solid $blue;
		  	border: none;
		  	color: $white;
		  	@include box-shadow(0 2px 1px 1px rgba($blue-darker, 1) inset);
		  	&:hover {
		  		background-color: $blue;
		  		border: none;
		  		color: $white;
		  	}
		  }
		}
		@include breakpoint($mobile-wide) {
			a {
				
				float: left;
				// margin: 0 1% -1px;
				width: 50%;
				&:hover {
					border-bottom-color: $blue;
				}
				&#login-link {
					@include border-right-radius(0);
					border-right: none;
				}
				&#register-link {
					@include border-left-radius(0);
					border-left: none;
				}
				&.lt-active {
					display: block;
					visibility: visible;
				}
			}
		}
	}
}
#register-form,
#login-form {
	@include clearfix;
	margin: 0 auto;
	max-width: 600px;
}
#login-form {
	.login-forgot {
		margin-bottom: rhythm(4);
		a {
			@include adjust-font-size-to($fs-s);
			color: $gray;
			text-transform: uppercase;
			font-weight: bold;
			text-decoration: none;
			&:hover {
				color: $gray-dark;
				text-decoration: underline;
			}
		}
	}
	@include breakpoint($mobile-wide) {
		.form-actions {
			@include zen-grid-item(4, 1, $column-count: 8);
			.form-submit {
				width: 90%;
			}
		}
		.login-forgot {
			@include zen-grid-item(4, 5, $column-count: 8);
			
		}
	}
}