// Individual messages
.messages {
  // @include border-radius(4px);
  // margin-bottom: rhythm(1);
  padding: 2% 0;
  color: $white;
  @include text-shadow(0 1px 1px rgba($black, .25));

  ul {
    margin-bottom: 0;
  }
  
  a {
    color: $white;
    font-weight: bold;
  }

  // TODO: Rework these to .message--error etc.
  &.error    { background-color: $clr-error; @include box-shadow(0 2px 0 blend-overlay(rgba($black, .25), $clr-error) inset); }
  &.warning  { background-color: $clr-warning; @include box-shadow(0 2px 0 blend-overlay(rgba($black, .25), $clr-warning) inset); }
  &.status   { background-color: $clr-status; @include box-shadow(0 2px 0 blend-overlay(rgba($black, .25), $clr-status) inset); }
}

.krumo-element,
.krumo-footnote,
.krumo-call,
.krumo-preview {
  color: $black;
}
