//
// @file
// View Mode specific styles.
// ----------------------------------------------------------------------------

.node-type-session {
	h1.page-title {
    @include adjust-font-size-to($fs-xxl);
	  @include rhythm(0, 0, 4, 4, $fs-xxl);
	  @include breakpoint($mobile-wide) {
	    @include adjust-font-size-to($fs-xxxl);
	  }
	  @include breakpoint($tablet-wide) {
	    @include adjust-font-size-to($fs-xxxxl);
	  }
	}
	.content {
		fieldset {
			// border-bottom: 1px solid $blue;
			padding-bottom: 0;
			// margin-bottom: 5%;
			margin: 0;
			margin-top: 5%;
			padding-top: 2.5%;
		}
	}
	.field--label-grid {
		margin-bottom: 2.5%;
	}
	.field-label {
		color: $gray;
	}
}

.field--session-questions {
	margin-bottom: 10%;
	margin-top: 10%;
	.field-label {
		@include adjust-font-size-to($fs-xl);
		font-weight: normal;
		margin-bottom: rhythm(1, $fs-xl);
		color: $blue;
	}
	.field-item {
		margin-bottom: rhythm(1);
		padding-left: 42px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 30px;
			height: 30px;
			@extend .icon-question;			
		}
	}
}