// BASE CLASS
// ----------

.nav {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}

.nav-inline {
  > li {
    display: inline;

    > a {
      @include inline-block;
    }
  }
}

// TABS AND PILLS
// -------------

// Common styles
.nav-tabs,
.nav-pills {
  @include clearfix;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  display: block;
  padding-right: 18px;
  padding-left: 18px;
  margin-right: 4px;
}

// TABS
// ----------------------------------------------------------------------------

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 1px solid $blue-lightest;
  margin: 0 0 rhythm(8);
}

// Make the list-items overlay the bottom border
.nav-tabs > li {
  margin-bottom: -1px;
}

// Actual tabs (as links)
.nav-tabs > li > a {
  @include border-top-radius(3px);
  @include leading-border(1px, 1.5);
  @include trailing-border(1px, 1.5);
  @include transition;
  // @include box-shadow($white 1px 1px 1px 0 inset);
  border: 1px solid $white;
  border-bottom-color: $clr-border;
  background-color: $white;
  color: $gray;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $clr-border;
    border-color: $clr-border;
    color: $gray-darker;
  }
}

// Active state, and it's :hover to override normal :hover
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: $gray-darkest;
  background-color: $white;
  border: 1px solid $clr-border;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs.nav-stacked {
  border-bottom: none;

  > li {
    margin-bottom: 0;
  }

  > li > a {
    @include border-left-radius(4px);
    @include border-right-radius(0);
    @include box-shadow(
      $white 1px 1px 1px 0 inset,
      rgba($gray-dark, .2) -1px 0 0 0 inset
    );
    border-right-color: $gray-white;
    margin-left: -2px;

    &:hover {
      border-color: $gray-light $white $gray-light $gray-light;
    }
  }

  > .active > a,
  > .active > a:hover {
    @include box-shadow(
      $white 1px 1px 1px 0 inset
    );
    margin-right: -1px;
    border-right-color: transparent;
    border-bottom-color: #ddd;
  }
}


// STACKED
// -----------

// Stacked tabs and pills
.nav-stacked > li {
  float: none;
}

.nav-stacked > li > a {
  display: block;
  padding: rhythm(1) 12px;
  margin-right: 0; // no need for the gap between nav items

  &.active {
    font-weight: bold;
  }
}


// STACKED BUTTONS
// ---------------

.nav-stacked.nav-buttons {
  @include border-radius(3px);
  border: 1px solid $gray-light;

  > li {
    border-bottom: 1px solid $gray-light;

    &.last {
      border-bottom: none;
    }

    > a {
      @include adjust-font-size-to(12px);
      padding: rhythm(.5) $w-gutter-half;
      color: $clr-link;

      &:hover {
        background-color: lighten($clr-link, 60%);
      }

      &:active,
      &.active {
        background-color: $clr-link;
        color: $white;
      }
    }
  }
}

// BUTTON BAR
// ----------

.nav-inline.nav-buttons {
  @include clearfix;
  @include background-image(linear-gradient(top, $gray-light $gray-dark));
  // Hide menu on small screens.
  display: none;
  margin: 0;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  border-right: $gray 1px solid;
  border-left: $gray-light 1px solid;

  @include breakpoint($tablet) {
    display: block;
  }

  > li {
    float: left;
    margin-right: 0;
  }

  > li > a {
    @include text-shadow();
    height: 20px;
    border-right: $gray-white 1px solid;
    border-left: $gray-lightest 1px solid;
    padding: 14px 18px;
    margin: 0;
    color: $white;
    font-weight: bold;

    @include breakpoint($tablet-wide) {
      padding: 14px 24px;
    }

    &:hover {
      @include background-image(linear-gradient(top, $gray-white $gray-lightest));
    }

    &:active,
    &.active,
    &.active-trail {
      @include background-image(linear-gradient(bottom, $gray-light $gray));
      border-right: $gray-dark 1px solid;
      border-left: $gray-dark 1px solid;
    }
  }
}

.menu-block-1 > ul {
  > li.last > a {
    border-right: 1px solid $blue-lightest;
  }
  > li > a {
    border-left: 1px solid $blue-lightest;
    margin-right: -1px;
    margin-top: -1px;
  }
}



.nav--main {
  margin: 0;
  padding: 0;
  .nav--main {
    background-color: $white;
  }

  .nav-link {
    @include adjust-font-size-to($fs-m);
    color: $gray-dark;
    display: block;
    padding: rhythm(2) rhythm(3);
    position: relative;
    text-decoration: none;
    &.active-trail,
    &:hover {
      background-color: $blue;
      border-left-color: $blue;
      color: $white;
      z-index: 100;
    }
    @include breakpoint($tablet-wide) {
      padding: rhythm(2) rhythm(5);
    }
  }

  // .nav-link {
  //   padding: rhythm(2) rhythm(3);
  // }

  .nav-item:hover > .nav-link {
    background-color: $blue;
    border-left-color: $blue;
    color: $white;
  }
  @include breakpoint(0 ($tablet - 1px)) {
    .nav-link {
      @include adjust-font-size-to($fs-l);
      border-left-color: transparent;
      padding: rhythm(3) rhythm(4);
    }
  }
  @include breakpoint($tablet, $no-query: '.lt-ie9') {
    @include clearfix;

    .nav-item {
      float: left;
    }
    .nav-link {
      @include adjust-font-size-to($fs-m);
      padding: rhythm(2) rhythm(2.5);
    }
  }
  @include breakpoint($tablet-wide, $no-query: '.lt-ie9') {
    .nav-link {
      @include adjust-font-size-to($fs-l);
      padding: rhythm(2) rhythm(4);
    }
  }
}

.expanded .nav--dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 3000;
  min-width: 100%;
  @include box-shadow(0 1px 0 1px rgba($black, .15));
}

.nav--dropdown {
  @include breakpoint($tablet, $no-query: '.lt-ie9') {
    .expanded:hover {
      position: relative;

      .nav--dropdown {
        display: block;
      }

      .nav-item {
        float: none;
        white-space: nowrap;
      }
    }
  }
}

#admin-menu {
  @include box-shadow(none);
  z-index: 10000;
}

//  Footer

.nav--footer {
  @include adjust-font-size-to($fs-m);
  @include breakpoint($tablet) {
    margin: 0;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    @include link-colors($gray, $gray-darker);
    &:hover {
      text-decoration: underline;
    }
  }
}

//  Social

.block-nav--social {
  margin: 0;
  @include breakpoint($tablet) {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.nav--social {
  @include adjust-font-size-to($fs-m);
  margin: 0;
  li {
    margin-right: 30px;
    &.last {
      margin-left: 0;
    }
  }
}

//  Utility

.block--menu-utility {
  text-align: center;
  @include breakpoint($tablet-wide) {
    position: absolute;
    right: 0;
    top: 50%;
  }
}

.nav--utility {
  margin: -12px -24px 12px;
  // @include breakpoint($mobile-wide) {
  //   margin-top: -12px;
  // }
  @include breakpoint($tablet-wide) {
    margin: 0;
  }
  li {
    margin: 0 6px;
  }
  a {
    @include adjust-font-size-to($fs-s);
    font-weight: bold;
    text-decoration: none;
  }
}

//  Subnavigation

.block--menu-subnav {
  @include breakpoint($tablet-wide){
    margin-top: -(rhythm(8));
  }
}

.nav--subnav {
  margin: 0;
  a {
    background-color: $blue;
    color: $white;
    display: block;
    padding: rhythm(2) rhythm(4);
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: $blue-dark;
    }
    &.active-trail {
      &:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 12px solid $white;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
      }
    }
  }
  @include breakpoint($tablet-wide){
    .last a {
      @include border-bottom-radius;
    }
  }
}