//
// @file
// Session Schedule styles.
// ----------------------------------------------------------------------------

#block-views-c35ce757073fc9a536b5805044680fc8,
#block-views-c3a5c59240f78fca7e993c94f754bddd {
	padding-top: rhythm(10);
	.block-title {
		margin-bottom: 10%;
		margin-top: 0;
		@include breakpoint($mobile-wide) {
			margin-bottom: 5%;
		}
	}
	&.is-collapsed {
		display: none;
		visibility: hidden;
	}
}

.schedule--timeslot {
	@include clearfix;
	clear: both;
	padding: 0;
	margin-top: 5%;
	h4 {
		@include box-sizing(border-box);
		background-color: $blue-white;
		color: $blue;
		margin: 0 0 5%;
		padding: 6% 5%;
		border-top: 6px solid $blue;
		@include breakpoint($mobile-wide) {
			padding: 3% 5%;
		}
	}
	h3 {
		clear: both;
		margin: 0 0 2.5%;
		padding: 0 5%; 
		@include adjust-font-size-to($fs-m);
		text-transform: uppercase;
		color: $gray;
		@include breakpoint($mobile-wide) {
			display: inline;
			float: left;
			margin-left: 5%;
			padding: 0;
			width: 20%;
			text-align: right;
		}
	}
}


.view-cod-session-schedule-entity {
	@include breakpoint(0 ($mobile-wide - 1)) {
		> .view-content {
			> div {
				.view-sessions {
					border-top: 1px dotted $clr-border;
					clear: both;
					padding-top: 5%;
				}
				&:first-child {
					.view-sessions {
						border-top: none;
						padding-top: 0;
					}
				}
			}
		}
	}
}

.schedule--session-details {
	margin-bottom: 5%;
	padding: 0 5%;
	@include breakpoint($mobile-wide) {
		float: right;
		padding: 0;
		width: 70%;
	}
	h5 {
		@include adjust-font-size-to($fs-xl);
		margin: 0;
		a {
			text-decoration: none;
			@include link-colors($blue-dark, $blue-darker);
			&:hover {
				text-decoration: underline;
			}
		}
	}
	p {
		@include adjust-font-size-to($fs-s);
		color: $gray-light;
		margin: 0;
	}
}

.nav-schedule {
	@include clearfix;
	@include adjust-font-size-to($fs-s);
	list-style-type: none;
	margin: 0;
	// margin-bottom: rhythm(10, $fs-s);
	padding: 0;
	text-align: center;
	&.nav-schedule--bottom {
		margin-bottom: 10%;
	}
	a {
		@include box-sizing(border-box);
		@include border-radius;
		display: block;
	  padding: 2em .5em;
	  // border: 1px solid $blue-lighter;
  	@include box-shadow(0 0 0 1px $blue-lighter inset);
	  border: none;
  	background-color: $white;
	  color: $green;
	  font-weight: bold;
	  text-decoration: none;
	  text-transform: uppercase;
	  &:hover {
	  	background-color: $blue;
	  	color: $white;
	  	@include box-shadow(0 0 0 1px $blue inset);
	  }
	  &.is-active {
	  	background-color: $blue;
	  	border: none;
	  	color: $white;
	  	@include box-shadow(0 1px 1px 1px rgba($blue-darker, 1) inset);
	  	&:hover {
	  		background-color: $blue;
	  		border: none;
	  		color: $white;
	  	}
	  }
	  @include breakpoint(0 ($mobile-wide - 1)) {
		  &.day-1 {
		  	@include border-bottom-radius(0);
		  	border-bottom: none;
		  }
		  &.day-2 {
		  	@include border-top-radius(0);
		  	border-top: none;
		  }
		}
	}
	@include breakpoint($mobile-wide) {
		li {
			float: left;
			width: 50%;
		}
		a {
			&:hover {
				border-bottom-color: $blue;
			}
			&.day-1 {
				@include border-right-radius(0);
				border-right: none;
			}
			&.day-2 {
				@include border-left-radius(0);
				border-left: none;
			}
			&.is-active {
				display: block;
				visibility: visible;
			}
		}
	}
}