

.profile {
	position: relative;
	@include breakpoint($mobile-wide){
		padding-left: 210px;
		.user-picture {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	
	.user-picture {
		a,
		img {
			@include border-radius(50%);
			display: block;
			width: 100%;
			max-width: 180px;
		}
	}

	.group-name {
		@include adjust-font-size-to($fs-h2);
		margin-bottom: rhythm(10, $fs-h2);
		padding-top: rhythm(10, $fs-h2);
		div {
			@include inline-block;
		}
		.field--field-profile-first {
			margin-right: 6px;
		}
	}
	.field--label-grid {
	  border-top: 1px dotted $blue;
	  padding: rhythm(5) 0;
	}
}