//
// @file
// Views specific styles.
//
// If styles can be used across views, they should
// go in elements/_lists.scss instead.
// ----------------------------------------------------------------------------

.view-speakers {
	.photo {
		a,
		img {
			display: block;
			@include border-radius(50%);
		}
	}
	h3 {
		@include adjust-font-size-to($fs-xxxl);
		margin-top: 0;
	}
	.views-row {
		@include clearfix;
		border-bottom: 1px dotted $blue;
		position: relative;
	}
}

.view-id-speakers.view-display-id-page {
	
	> .view-content {
		.views-row {
			margin-top: rhythm(10);
			padding: 0 0 rhythm(6);
			@include breakpoint($mobile) {
				padding-left: 30%;
			}
		}
		
		.photo {
			margin-bottom: 30px;
			@include breakpoint($mobile) {
				position: absolute;
				left: 0;
				top: 0;
				width: 25%;
			}
		}
	}
}

.attachment {
	.view-speakers {
		.view-header {
			border-bottom: 6px solid $blue;
			margin-top: 60px;
		}
		.photo {
			margin-bottom: 18px;
			width: 72px;
		}
		.views-row {
			min-height: 72px;
			margin-top: rhythm(3);
			padding-bottom: rhythm(3);
		}
		h3 {
			@include adjust-font-size-to($fs-xl);
			display: inline;
			margin: 0 6px 0 0;
			vertical-align: middle;
		}
		h4 {
			font-size: 1em;
			font-weight: normal;
			display: inline;
			margin: 0;
			vertical-align: middle;
		}
		.session-title {
			font-weight: bold;
		}
		@include breakpoint($mobile) {
			.views-row {
				padding-left: 90px;
			}
			.photo {
				float: left;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}

.page-attendees {
	#content {
		@include zen-grid-item(24, 1);
	}
	#sidebar-first {
		@include zen-clear;
		@include zen-grid-item(24, 1);
	}
}

.view-attendees-d4d-,
.view-attendees-new {
	.view-filters {
		@include clearfix;
		margin-bottom: 30px;
		.views-exposed-widget {
			@include box-sizing(border-box);
			max-width: 100%;
			float: left;
			margin-bottom: 24px;
			padding-right: 30px;
		}
		.form-item {
			margin-bottom: 0;
			input {
				margin-bottom: 0;
			}
		}
	}
	.views-submit-button {
		float: left;
		clear: left;
	}
	@include breakpoint($tablet-wide) {
		.views-submit-button {
			clear: none;
			margin-top: 18px;
		}
	}

	.photo {
		display: block;
		height: auto;
		@include border-radius(50%);
		img {
			@include border-radius(50%);
		}
		a, img {
			display: block;
		}
	}
	h3 {
		@include adjust-font-size-to($fs-l);
		margin: 0;
	}
	.field--organization {
		@include adjust-font-size-to($fs-s);
		color: $gray;
	}
	.photo {
		max-width: 60px;
		position: absolute;
		left: 0;
		top: 0;
	}
	.views-row {
		@include box-sizing(border-box);
		padding-left: 72px;
		padding-top: 6px;
		min-height: 60px;
		margin-bottom: 30px;
		position: relative;
		// 
		// padding: 12px 30px;
		// width: 16.66666%;
		@include breakpoint($mobile-wide) {
			float: left;
			padding-left: 18px;
			padding-right: 18px;
			text-align: center;
			.photo {
				max-width: 120px;
				margin: 0 auto 18px;
				position: relative;
			}
		}
		@include breakpoint($mobile-wide ($tablet-wide - 1)) {
			width: 25%;
			// &.views-row-1,
			// &.views-row-5,
			// &.views-row-9,
			// &.views-row-13,
			// &.views-row-17,
			// &.views-row-21,
			// &.views-row-25,
			// &.views-row-29,
			// &.views-row-33,
			// &.views-row-37,
			// &.views-row-41,
			// &.views-row-45,
			// &.views-row-49,
			// &.views-row-53,
			// &.views-row-57,
			// &.views-row-61,
			// &.views-row-65,
			// &.views-row-69,
			// &.views-row-73 {
			// 	clear: left;
			// }
			&:nth-child(4n+1) {
				clear: left;
			}
		}
		@include breakpoint($tablet-wide) {
			width: 16.66666%;
			// &.views-row-1,
			// &.views-row-7,
			// &.views-row-13,
			// &.views-row-19,
			// &.views-row-25,
			// &.views-row-31,
			// &.views-row-37,
			// &.views-row-43,
			// &.views-row-49,
			// &.views-row-55,
			// &.views-row-61,
			// &.views-row-67,
			// &.views-row-73 {
			// 	clear: left;
			// }
			&:nth-child(6n+1) {
				clear: left;
			}
		}
	}

}

.page-sponsors .view-sponsors {
	h3 {
		@include adjust-font-size-to($fs-xxxl);
		margin: 0 0 3% 0;
		// margin: 0;
		text-align: center;
	}
	.item-list {
		border-top: 1px solid $clr-border;
		clear: both;
		padding-top: 10%;
		&:first-child {
			border-top: none;
			padding-top: 0;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;
		}
		li {
			margin-bottom: 10%;
		}
		a {
			display: block;
			text-align: center;
		}
		img {
			display: block;
			margin: 0 auto;
			max-height: 120px;
			max-width: 84%;
			width: auto;
			vertical-align: middle;
		}
		@include breakpoint($tablet) {
			padding-top: 3%;
			li {
				@include inline-block;
				// float: left;
				margin-bottom: 3%;
				width: 49%;
			}
			a {
				line-height: 120px;
			}
			img {
				@include inline-block;
				max-height: 120px;
			}
		}
		@include breakpoint($desktop) {
			li {
				width: 33%;
			}
			a {
				line-height: 160px;
			}
			img {
				max-height: 160px;
			}
		}
	}
}
.page-program-sessions {
	#content {
		@include zen-grid-item(24, 1);
	}
	#sidebar-first {
		@include zen-clear;
		@include zen-grid-item(24, 1);
	}
}

.view-sessions {
	.view-filters {
		@include clearfix;
		.views-exposed-widget {
			float: left;
			margin-right: 30px;
		}
	}
	.views-submit-button {
		margin-top: 18px;
	}
	.views-table {
		th {
			padding: rhythm(2, $fs-s) rhythm(4, $fs-s);
			@include adjust-font-size-to($fs-s);
		}
		td {
			padding: rhythm(2, $fs-s) rhythm(4, $fs-s);
			@include adjust-font-size-to($fs-s);
			&.views-field-title {
				@include adjust-font-size-to($fs-l);
			padding: rhythm(2, $fs-l) rhythm(4, $fs-l);
				font-weight: bold;
			}
		}
	}
}