/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
 /* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

body {
	background-image:url('../img/header-bg.jpg');
	background-position: center 0;
	background-repeat:no-repeat;
}

body.page-admin {
	background:none;
}

/*
Main Menu
*/

#superfish-1 {
width: 100%;
}

#zone-menu-wrapper #block-superfish-1 li {
    margin: 0 6px 0 0;
    width: 179px;
}

#zone-menu-wrapper #block-superfish-1 li.sf-depth-1 a {
    text-indent: 50px;
}

/* 
Menu icons with smart sprite
*/

#zone-menu-wrapper #block-superfish-1 li.program_icon span.myIcon {
	background-position:0px 0px;
}
#zone-menu-wrapper #block-superfish-1 li.program_icon span.myIconHover {
	background-position:0px -50px;
}

#zone-menu-wrapper #block-superfish-1 li.sponsors_icon span.myIcon
 {
	background-position:-50px 0px;
}
#zone-menu-wrapper #block-superfish-1 li.sponsors_icon  span.myIconHover {	
	background-position:-50px -49px;
}

#zone-menu-wrapper #block-superfish-1 li.venue_icon span.myIcon {
	background-position:-100px 0px;
	width:40px;
}
#zone-menu-wrapper #block-superfish-1 li.venue_icon span.myIconHover
 {
	background-position:-100px -50px;
	width:40px;

}

#zone-menu-wrapper #block-superfish-1 li.community_icon span.myIcon
 {
	background-position:-140px 0px;
}
#zone-menu-wrapper #block-superfish-1 li.community_icon span.myIconHover {
	background-position:-140px -50px;

}
#zone-menu-wrapper #block-superfish-1 li.news_icon span.myIcon
 {
	background-position:-200px 0px;
}
#zone-menu-wrapper #block-superfish-1 li.news_icon span.myIconHover
 {
	background-position:-200px -49px;
	
}

#zone-content-wrapper #zone-content.container-12 .grid-9 {
    width: 690px;
}

#zone-menu-wrapper #block-superfish-1 li span,
#zone-menu-wrapper #block-superfish-1 ul ul
 {
	display:block !important;
	opacity:1;
}

#zone-menu-wrapper #block-superfish-1 li li,
.sf-menu ul,
#zone-menu-wrapper #block-superfish-1 ul ul,
#zone-menu-wrapper #block-superfish-1 li a,
#zone-menu-wrapper #block-superfish-1 li,
#zone-menu-wrapper #block-superfish-1 li li a,
#zone-menu-wrapper #block-superfish-1 li.sf-depth-1.active-trail a {
	width: 179px !important;
}

#zone-menu-wrapper #block-superfish-1 li a {
    font-size: 14px;
}

#region-sidebar-first h2 {
    background-color: #F1F5F4;
    display: block;
    height: auto;
    width: 222px;
}
.drupalMe.blue {
    left: 5px;
	position: absolute;
	z-index:20;
}
.drupalMe.yellow{
    left: 5px;
	position: absolute;
	z-index:15;
}
#cornifyMe {
	position:absolute;
	top:0px;
}

.not-logged-in #eyesOpen {
    left: 440px;
}
.absolute {
	position:absolute;
}

#block-block-4 {
    width: 215px;
}

#region-sidebar-first #block-block-4 h2 {
	background-color:transparent;
	
}

#region-sidebar-first #block-block-4 h2 span.grayArea {
	font-size:20px;
}

#region-sidebar-first #block-block-4 h2 span.grayArea {
    bottom: -18px;	
}

#zone-menu-wrapper #block-superfish-1 li a {
	text-indent:-4px;
}

/* indentation fix for safari */
#zone-menu-wrapper  #block-superfish-1 ul li.sf-depth-1 li a {
	padding-left: 50px;
    text-indent: 0;
	line-height: 23px;
    width: 177px !important;
	display:table-cell;
}

#zone-branding-wrapper h1 {
	padding: 0;
	margin: 0 0 43px 0;
}

#zone-menu-wrapper {
	margin-top:20px;
	margin-bottom:20px;}