body {
	background-image:url('../img/header-bg-mobile.jpg');
	background-position: center 0;
	background-repeat:no-repeat;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 10px;
}

p, h1, h2, h3, h4, h5, h6, span {
	font-family:Arial, Helvetica, sans-serif;
}

a, a:link, a:visited {
	color:#3c74bf;
	font-weight:bold;
	text-decoration:none;
	transition:color ease 0.4s;
	letter-spacing:1px;
}
a:hover {
	color:#00c7ff;
	
}

.breadcrumb {
    display:none;
}

aside#region-sidebar-first {
	display:none;
}

#zone-menu-wrapper {
	margin-top: 0px;
}

/* 
**********************
Header
**********************
*/

#region-branding {
    display: none;
}

#zone-branding-wrapper h1 a,
#zone-branding-wrapper h2 a {
	display:none;
}
#zone-branding-wrapper h6 {
    
	display:none;
}

#home-link {
    display: inline-block;
    height: 225px;
    width: 100%;
}

/* 
**********************
Main Menu: Superfish Override
**********************
*/

/*
Turn off superfish menu turn on basic menu:
*/

#block-superfish-1 {
	display:none;
}

/* mobile menu
*/

#zone-menu-wrapper #block-menu-block-5 ul ul {
	display:none;
}

/*
#zone-menu-wrapper #block-menu-block-5 li a {
    background-position: left 0;
    background-repeat: no-repeat;
    bottom: 8px;
    color: #000000;
    
    display: inline-block;
    font-size: 18pt;
    font-weight: bold;
    height: 23px;
    letter-spacing: 3pt;
    margin: 0;
    padding: 39px 0 2px;
    position: relative;
   
   	text-decoration: none;
   
    text-transform: lowercase;
    width: 100%;
    z-index: 20;
}
*/
#zone-menu-wrapper #block-menu-block-5 li a {
background-position: left 0;
background-repeat: no-repeat;
bottom: -39px;
color: #000000;
display: inline-block;
font-size: 18pt;
font-weight: bold;
height: 14px;
letter-spacing: 3pt;
margin: 0;
padding: 16px 0 2px;
position: relative;
text-decoration: none;
text-transform: lowercase;
width: 100%;
z-index: 20;
}

#zone-menu-wrapper #block-menu-block-5 li a:hover {
	color:#00c7ff;
}
/*
#zone-menu-wrapper #block-menu-block-5 li {
    background-image: url("../img/menu-bar.gif");
    background-position: 0 bottom;
    background-repeat: repeat-x;
    color: #000000;
    display: inline-block;
    font-size: 12pt;
    font-weight: bold;
    height: 63px;
    letter-spacing: 3pt;
    margin: 0 6px 0 0;
    padding: 0 0 2px;
    text-align: right;
    text-decoration: none;
    text-transform: lowercase;
    width: 100%;
}
*/
#zone-menu-wrapper #block-menu-block-5 li {
background-image: url("../img/menu-bar.gif");
background-position: 0 bottom;
background-repeat: repeat-x;
color: #000000;
display: inline-block;
font-size: 12pt;
font-weight: bold;
min-height: 3px;
letter-spacing: 3pt;
margin: 0 0px 0 0;
padding: 0 0 2px;
text-align: right;
text-decoration: none;
text-transform: lowercase;
width: 100%;
}

/*
#zone-menu-wrapper #block-menu-block-5 li li {
    background-position: 0 bottom;
    background-repeat: repeat-x;
    color: #000000;
    display: inline-block;
    font-size: 10pt;
    font-weight: bold;
    height: 23px;
    letter-spacing: 3pt;
    margin: 0 6px 0 0;
    padding: 0 0 2px;
    text-align: right;
    text-decoration: none;
    text-transform: lowercase;
    width: 100%;
}
*/
#zone-menu-wrapper #block-menu-block-5 li li {
background-position: 0 bottom;
background-repeat: repeat-x;
color: #000000;
display: block;
font-size: 10pt;
font-weight: bold;
height: 30px;
letter-spacing: 3pt;
margin: 0 0px 0 0;
padding: 0px 0 27px;
text-align: right;
text-decoration: none;
text-transform: lowercase;
width: 100%;
background-image: none;
}

#zone-menu-wrapper #block-menu-block-5 li li a {
background-color: yellow;
font-size: 16px;
height: 42px;
padding: 18px 0 0;
display: block;
bottom: -8px;
line-height: 22px;
}
/*
#zone-menu-wrapper #block-menu-block-5 li li a {
    background-color: yellow;
    font-size: 12px;
    height: 40px;
    padding: 31px 0 0;
}
*/
#zone-menu-wrapper #block-menu-block-5 li ul {
	position:relative;
	top:0px;
}
/*
Icons in main menu
*/

#zone-menu-wrapper #block-menu-block-5 li span.myIcon {
    bottom: 4px;
    display: block;
    height: 49px;
    position: absolute;
    width: 50px;
    z-index: 10;
}

#zone-menu-wrapper #block-menu-block-5 li span.myIcon {
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    bottom: 4px;
    display: block;
    height: 49px;
    position: relative;
    width: 50px;
    z-index: 10;
}

#zone-menu-wrapper #block-menu-block-5 li li span.myIcon {
    background-image:none;
	bottom: 0;
    display: block;
    height: 20px;
    position: absolute;
    width: 50px;
    z-index: 10;
}

/* 
Menu icons with smart sprite
*/

#zone-menu-wrapper #block-menu-block-5 li.sf-depth-1 a {
	direction: ltr;
    text-align: left;
    text-indent: 50px;
}

.program_icon .myIcon {
	background-position:0px 0px;
}

.sponsors_icon .myIcon {
	background-position:-50px 0px;
}

#zone-menu-wrapper #block-menu-block-5 li.venue_icon .myIcon {
	background-position:-100px 0px;
	width:40px;
}

.community_icon .myIcon {
	background-position:-140px 0px;
}

.news_icon .myIcon {
	background-position:-200px 0px;
}

/*
*/

#zone-menu-wrapper {
	position:relative;
	top: -57px;
}

#zone-content-wrapper #zone-content.container-12 .grid-9 {
    /* width: 860px; */
}

/*
*/


/*
*/
#zone-content-wrapper #zone-content {
	padding:0;
}

#zone-menu-wrapper #block-superfish-1 {
    margin-left: 0px;
}

aside#region-sidebar-first {
	clear:both;
}
#region-sidebar-first h2 {
	width:160px;
	line-height: 32px;
	height:auto;
}

#zone-content-wrapper #zone-content.container-12 .grid-9 {
    width: 100%;
	margin:0;
}

#section-header {
	margin-bottom:20px;
}

#block-system-main {
	padding:0 10px;
}

#section-content h1#page-title {
    margin-left: 9px;
}

#section-content h1 span.grayArea {
	width:100%;
}

#region-sidebar-first h2 span.grayArea {
    bottom: -7px;
    font-size: 25px;
    position: relative;
    width: 100%;
}

#zone-branding-wrapper .container-12 {
	margin-left: auto;
    margin-right: auto;
	width:452px;
}

#zone-branding-wrapper h6 {
    /*left: 35px; */
    top: 215px;
	position:absolute;
}

#region-content .tabs {
	display:none;
}

/* main content area
*/

#zone-content-wrapper ul {
    margin: 0 0 10px 15px;
    padding: 0;
}
#zone-content-wrapper li {
	list-style-image:url('../img/bullet.gif');
}

blockquote {
	margin-top:10px;
	background-image: url("../img/quote.gif");
    background-repeat: no-repeat;
	display:block;
	min-height: 47px;
	width:100%;
}
blockquote p {
    
    color: #8F8D82;
    font-family: "Courier New","Courier",sans-serif;
    font-style: italic;
    margin: 0 0 0 10px;
    padding: 0 0 0 52px;
}

/* footer
*/

.region-footer-first-inner {
	display:none;
}

#zone-postscript-wrapper {
	display:none;
}
#zone-postscript-wrapper ul {
    margin: 0 0 0 15px;
    padding: 0;
}
#zone-postscript-wrapper li {
	list-style-image:url('../img/bullet.gif');
}

/* make unicors */

.drupalMe.blue {
    left: 5px;
	position: absolute;
	z-index:20;
}
.drupalMe.yellow{
    left: 5px;
	position: absolute;
	z-index:15;
}
#cornifyMe {
	position:absolute;
	top:0px;
}

.logo-img {
	display:none;
}

/*

*/