#zone-menu-wrapper #block-superfish-1 li span {
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    bottom: 4px;
    display: block;
    height: 49px;
    position: absolute;
    width: 50px;
    z-index: 10;
	left:0;
}

#IEZONE {
}

#zone-menu-wrapper #block-superfish-1 li span.myIcon {
	left:0;
}

#zone-menu-wrapper #block-superfish-1 li span.myHoverIcon {
	left:0;
}


