//
// @file
// Default tag styles.
//
// The only class selectors allowed in this file are those intended
// for use within the WYSIWYG editor.
// ----------------------------------------------------------------------------


// Establish Vertical rhythm.
* html {
  font-size: 100% * $base-font-size / $browser-default-font-size;
}

html {
  font-size: $base-font-size;
  // Override the default line height to allow for smaller baseline increments.
  @include adjust-leading-to(4);
}

body {
  color: $clr-text;
}


// Headings
//-----------------------------------------------------------------------------

h1 {
  @include adjust-font-size-to($fs-h1);
  @include rhythm(2, 0, 0, 2, $fs-h1);
  font-family: $ff-heading;
}

h2 {
  @include adjust-font-size-to($fs-h2);
  @include rhythm(0, 0, 0, 4, $fs-h2);
  font-family: $ff-heading;
  font-weight: 300;
}

h3 {
  @include adjust-font-size-to($fs-h3);
  @include rhythm(2, 0, 0, 2, $fs-h3);
  font-family: $ff-heading;
}

h4 {
  @include adjust-font-size-to($fs-h4);
  @include rhythm(4, 0, 0, 0, $fs-h4);
  font-family: $ff-heading;
}

h5 {
  @include adjust-font-size-to($fs-h5);
  @include rhythm(4, 0, 0, 0, $fs-h5);
  font-family: $ff-heading;
}

h6 {
  @include adjust-font-size-to($fs-h6);
  @include rhythm(4, 0, 0, 0, $fs-h6);
  letter-spacing: .03em;
  text-transform: uppercase;
}


// Links
//-----------------------------------------------------------------------------

a {
  @include link-colors($blue, $blue-dark);
  // @include hover-link;
}


// Copy
//-----------------------------------------------------------------------------

p {
  margin: 0 0 rhythm(3);
}

blockquote {
  margin: rhythm(2) 0 rhythm(2) $indent-amount;
  font-style: italic;
}


// Images
//-----------------------------------------------------------------------------

img {
  max-width: 100%;
  height: auto;
}


// Definition Lists
//-----------------------------------------------------------------------------

dl {
  margin-bottom: rhythm(3);
}

dt {
  font-weight: bold;
}

dd {
  margin-left: $w-gutter;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  @include box-shadow(0 0 5px $gray);
}


// Form Labels
// ---------------------

label {
  @include adjust-font-size-to($fs-s);
  display: block;
  margin-bottom: rhythm(1, $fs-s);
  font-family: $ff-sans;
  font-weight: bold;

  // Labels on checkboxes and radios
  &.option {
    display: inline;
    font-weight: normal;
  }
}


// Forms
//-----------------------------------------------------------------------------

textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  @include border-radius(3px);
  @include box-sizing(border-box);
  @include rhythm-borders(1px, .5);
  padding: rhythm(.5);
  margin-bottom: rhythm(1);
  max-width: 100%;
  background-color: $white;
  border-color: $gray;
  color: $gray-darker;

  &:focus {
    border-color: $gray;
  }
}

input[type="file"] {
  font-family: $ff-sans;
}

input[type="submit"] {
  @extend %button;
  @extend %button--small;
  @extend %button--primary;
}

select {
  @include adjust-font-size-to($fs-m);
  margin-bottom: rhythm(1, $fs-s);
}


// Tables
// ----------------------------------------------------------------------------

table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: rhythm(2);
}

thead {
  text-align: left;

  th {
    vertical-align: bottom;
  }
}

th,
td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid $clr-table-border;
}

// Remove top border from thead by default
caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

// Account for multiple tbody instances
tbody + tbody {
  border-top: 2px solid $clr-table-border;
}

tr.odd  { background-color: $clr-table-odd; }
tr.even { background-color: $clr-table-even; }


// Utility classes
//-----------------------------------------------------------------------------

.clearfix {
  @include legacy-pie-clearfix;
}

.intro {
  @include adjust-font-size-to($fs-xxl);
}
