//
// @file
// Variables for use throughout this compass project.
//-----------------------------------------------------------------------------


// IE Support
//-----------------------------------------------------------------------------

// Setting this to false will result in smaller output, but no support for ie6 hacks.
// $legacy-support-for-ie6: true; // Overrides default set in Support partial.

// Setting this to false will result in smaller output, but no support for ie7 hacks.
$legacy-support-for-ie7: true; // Overrides default set in Support partial.


//  Colors
//-----------------------------------------------------------------------------

$white:             #ffffff;
$black:             #000000;

$gray-white:        #f0f0f0;
$gray-lightest:     #dbdbdb;
$gray-lighter:      #c7c7c7;
$gray-light:        #b3b3b3;
$gray:              #999;
$gray-dark:         #666;
$gray-darker:       #333;
$gray-darkest:      #292929;
$gray-black:        #141414;

$red:               #B52828;
$red-dark:          #95223C;

$orange-white:      #fdf6e9;
$orange-lightest:   #fff0d1;
$orange-lighter:    #ffe7b7;
$orange-light:      #ff9933;
$orange:            #f27b25;
$orange-dark:       #e55c16;

$green-lighter:     #b1d233;
$green:             #9cc524;
$green-dark:        #8cbc1a;
$green-darker:      #78b00d;
$green-darkest:     #5e9a08;

$blue-white:        #ecf3f7;
$blue-lightest:     #c9e7f6;
$blue-lighter:      #93ceed;
$blue-light:        #629cdb;
$blue:              #4168b6;
$blue-dark:         #314e88;
$blue-darker:       #254590;
$blue-darkest:      #0f2840;
$blue-black:        #091827;

$royal-white:        #ecf3f7;
$royal-lightest:     #c9e7f6;
$royal-lighter:      #93ceed;
$royal-light:        #629cdb;
$royal:              #4168b6;
$royal-dark:         #314e88;
$royal-darker:       #254590;
$royal-darkest:      #0f2840;
$royal-black:        #091827;

//	D4D Colors

$blue-white:					#f4fbfd;
$blue-lightest:				#c1eaf8;
$blue-light:					#32bbe7;
$blue:								#2aaae1;
$blue-dark:						#1e8ed7;
$blue-darker:					#006699;

$gray-lighter:				#cccccc;
$gray-light:					#999999;
$gray:								#7a7a7a;
$gray-dark:						#3d3d3d;
$gray-darker:					#1e1e1e;

// Semantic color variables.

$clr-neutral:       $gray-light;      // Default nuetral color
$clr-text:          $gray-darker;     // Default body copy color
$clr-link:          $blue-darker;     // Default link color
$clr-accent:        $orange-dark;     // Default accent color

$clr-border:        $gray-lighter;    // Default border and required color

$clr-status:        $green-dark;      // Default status color
$clr-warning:       $orange;          // Default warning color
$clr-error:         $red;             // Default error and required color

$clr-table-border:  $gray-light;      // Default table border color
$clr-table-odd:     $gray-white;      // Default table odd row color
$clr-table-even:    transparent;      // Default table even row color


//  Typography
//-----------------------------------------------------------------------------

//  Typefaces
$ff-mono:     Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Courier New", Courier, monospace;;
$ff-sans:     "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
// $ff-serif:    Georgia, serif;

$ff-body:     $ff-sans;
$ff-heading:  $ff-sans;
$ff-display:  $ff-heading;

//  Font sizes
$fs-xxs:     12px;
$fs-xs:      13px;
$fs-s:       14px;
$fs-m:       15px;
$fs-l:       18px;
$fs-xl:      21px;
$fs-xxl:     24px;
$fs-xxxl:    36px;
$fs-xxxxl:   48px;
$fs-xxxxxl:  60px;

$fs-h1: $fs-xxxxxl !default;
$fs-h2: $fs-xxxl !default;
$fs-h3: $fs-xl !default;
$fs-h4: $fs-m !default;
$fs-h5: $fs-s !default;
$fs-h6: $fs-xs !default;

// The amount lists and blockquotes are indented.
$indent-amount: 3em !default;

// Vertical Ryhthm
$base-font-size:    $fs-m;       // Font-size of your body copy.
$base-line-height:  6px;         // Setting the base-line-height half.
                                 // the height of the desired body copy.
                                 // line-height helps prevent sparse.
                                 // leading at different font-sizes.


// Zen Grids
//-----------------------------------------------------------------------------

$zen-column-count: 24;
$zen-gutter-width: 0;
$box-sizing-polyfill-path: "/sites/all/themes/center/boxsizing.htc";


//  Layout
//-----------------------------------------------------------------------------

$w-full: 1200px;
$w-content: 620px;
$w-sidebar: 320px;
$w-sidebar-first: 320px;
$w-gutter: $zen-gutter-width;
$w-gutter-half: $zen-gutter-width / 2;


//  Breakpoints
//-----------------------------------------------------------------------------

$mobile: 480px;
$mobile-wide: 620px;
$tablet: 768px;
$tablet-wide: 992px;
$desktop: 1248px;
$desktop-wide: 1382px;

//	Ranges
$min-to-mobile-wide: 0 619px;
$min-to-tablet: 0 767px;
$min-to-tablet-wide: 0 991px;
$min-to-desktop: 0 1199px;

//  CSS3
//-----------------------------------------------------------------------------

$default-transition-duration: .15s;

// Text shadow defaults
$default-text-shadow-color: rgba($gray-dark, .6);
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 1px;

// Border Radius
$radius-s: 3px;
$radius-m: 6px;
$radius-l: 50%;
