//
// @file
// Footer region styles.
// ----------------------------------------------------------------------------

// Footer region
#above-footer,
#footer {
	border-top: 1px solid $clr-border;
  @include clearfix;
  margin-top: rhythm(8);
  padding: rhythm(8) 0;
  .l-constrained {
  	position: relative;
  }
}

#above-footer {
	// background-color: $blue-white;
	margin-bottom: -(rhythm(8));
}