//
// @file
// Styles for all regions within main.
// ----------------------------------------------------------------------------

// Main
#main {
  // background-color: $white;
}

// Above content

// Main content
#main-content {
	clear: both;
  padding: rhythm(8) 0 0;
}

.front {
	@include breakpoint($tablet-wide) {
		#main-content {
			@include zen-grid-item(16, 8);
		}
		#content-aside {
			@include zen-clear;
			@include zen-grid-item(18, 7);
		}
	}
}

.not-front {
	#content {
		@include breakpoint($tablet-wide) {
	    @include zen-grid-item(17, 1);
		}
	}
}