//
// @file
// Styles for the sidebar-first region.
// ----------------------------------------------------------------------------

.not-front #sidebar-first {
	clear: both;
	padding-top: rhythm(5);
  @include breakpoint($tablet-wide) {
  	clear: none;
  	padding-top: 0;
    @include zen-grid-item(6, 19);
  }
}

.front #sidebar-first {
	// padding-top: rhythm(8);
	// padding: rhythm(4) rhythm(4) rhythm(2);
	// background-color: $blue;
	// color: $white;
}