//
// @file
// Header region styles.
// ----------------------------------------------------------------------------

// Header region
#header {
  @include clearfix;
  > .l-constrained {
    position: relative;
  }
}

// Branding component
#branding {
  @include clearfix;
  position: relative;
  margin: rhythm(2) 0;
  @include breakpoint($tablet) {
    margin: rhythm(4) 0;
  }
  @include breakpoint($tablet-wide) {
    margin: rhythm(5) 0;
  }
  a {
    display: block;
  }
  img {
  	display: block;
    margin: 0 auto;
    @include breakpoint($tablet-wide) {
      float: left;
      margin: 0;
    }
  }
  h1 {
    margin: 0;
  }
}

#site-slogan {
  margin: 0;
  @include adjust-font-size-to($fs-m, 5);
  text-align: center;
  display: none;
  visibility: hidden;
  @include breakpoint($mobile-wide) {
    display: block;
    visibility: visible;
  }
  @include breakpoint($tablet-wide) {
    position: absolute;
    right: 0;
    top: 0;
    // margin-top: -15px;
  }
}

//  Navigation
#navigation {
  background-color: $blue-white;
  border-top: 1px solid $blue-lightest;
  // padding: rhythm(2) 0;
  .l-constrained {
    margin: 0;
    @include breakpoint($tablet){
      margin: 0 24px;
    }
    @include breakpoint($desktop){
      margin: 0 auto;
    }
  }
}

.not-front {
  #navigation {
    border-bottom: 6px solid $blue;
  }
}