//
// @file
// Button and link styles.
// ----------------------------------------------------------------------------

// Link base
//----------

.link {
  @include adjust-font-size-to($fs-s);
  @include hover-link;
  @include link-colors($blue, $blue-light);
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
}

// Button base
// ------------

%button {
  @include inline-block;
  // border-style: solid;
  // border-width: 1px;
  border: none;
  letter-spacing: .1em;
  text-transform: uppercase;
  @include transition;

  &:hover {
    text-decoration: none;
  }
}

// Button sizes
// ------------

%button--tiny {
  @include adjust-font-size-to($fs-xxs);
  @include border-radius($radius-s);
  font-family: $ff-sans;
  font-weight: bold;
  text-transform: uppercase;
  padding: rhythm(.25, $fs-xxs) 6px;
}

%button--small {
  @include adjust-font-size-to($fs-xxs);
  @include border-radius($radius-s);
  font-family: $ff-sans;
  font-weight: bold;
  text-transform: uppercase;
  padding: rhythm(.5, $fs-xxs) 10px;
}

%button--medium {
  @include adjust-font-size-to($fs-s);
  @include border-radius($radius-s);
  font-weight: bold;
  padding: rhythm(2.5, $fs-s) 30px;
  &:active {
    padding: rhythm(2.6, $fs-s) 30px rhythm(2.4, $fs-s);
  }
}

%button--large {
  @include adjust-font-size-to($fs-l);
  @include border-radius($radius-m);
  font-weight: bold;
  padding: rhythm(1, $fs-l) 18px;
}

// Button colors
// -------------

%button--white {
  @include link-colors($gray-dark, $gray-darker);
  @include background-image(linear-gradient(bottom, $gray-white $white));
  border-color: $gray-light;

  &:hover {
    border-color: $gray-dark;
  }

  &:active {
    @include background-image(linear-gradient(top, $gray-lightest $white));
    @include box-shadow($gray 0 1px 1px inset);
  }
}

%button--simple {
  background-color: $gray-lightest;
  color: $gray;
  @include box-shadow(
    0 0 0 2px rgba($gray, 0) inset
  );

  &:hover {
    background-color: $gray-lightest;
    color: $gray-dark;
    @include box-shadow(
      0 0 0 2px $gray inset
    );
    @include text-shadow(
      0 1px 0 $gray-lighter
    );
  }

  &:active {
    background-color: $gray-lighter;
    @include box-shadow(
      0 0 0 2px $gray inset
    );
  }
}

%button--primary {
  background-color: $blue;
  color: $white;
  @include box-shadow(
    0 0 0 2px rgba($blue-dark, 0) inset
  );

  &:hover {
    color: $white;
    @include box-shadow(
      0 0 0 2px $blue-darker inset
    );
    @include text-shadow(
      0 1px 0 $blue-dark
    );
  }

  &:active {
    background-color: $blue-dark;
    @include box-shadow(
      0 0 0 2px $blue-darker inset
    );
  }
}

%button--secondary {
  background-color: $green;
  color: $white;
  @include box-shadow(
    0 0 0 2px rgba($green-dark, 0) inset
  );

  &:hover {
    color: $white;
    @include box-shadow(
      0 0 0 2px $green-darker inset
    );
    @include text-shadow(
      0 1px 0 $green-dark
    );
  }

  &:active {
    background-color: $green-dark;
    @include box-shadow(
      0 0 0 2px $green-darker inset
    );
  }
}

// Button text effects
// -------------

%button-text--embossed {
  @include text-shadow(0 -1px 0 #A3A3A3);
}

%button-text--debossed {
  @include text-shadow(0 1px 0 rgba($white, 1));
}

// Button icons
// ------------

@mixin button-icon($x-size: 18px, $y-size: 18px) {
  @include inline-block;
  content: "";
  position: relative;
  width: $x-size;
  height: $y-size;
}

%button-icon--before {
  &:before {
    @include button-icon();
    top: -1px;
  }
}

%button-icon--after {
  &:after {
    @include button-icon();
    top: -1px;
  }
}

%button-icon--before-large {
  &:before {
    @include button-icon(26px, 26px);
    top: -1px;
    margin-right: 8px;
  }
}

%button-icon--after-large {
  &:after {
    @include button-icon(26px, 26px);
    top: -1px;
    margin-left: 8px;
  }
}
