//
// @file
// Event detail styles.
// ----------------------------------------------------------------------------

ul.event-details {
	@include clearfix;
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	li {
		@include box-sizing(border-box);
		@include adjust-font-size-to($fs-m, 3);
		display: block;
		margin-bottom: rhythm(2);
		// min-height: 72px;
		position: relative;
		vertical-align: middle;
		// padding-left: cp(132, 900);
		padding-left: 84px;
		padding-right: 6px;

		&:after {
			content: "";
			position: absolute;
			left: 6px;
			top: 0;
			// margin-top: -31px;
			z-index: 200;

			@include border-radius(50%);
			
			height: 58px;
			width: 58px;
			background-color: $white;
			border: 1px solid $blue-lightest;
		}

		&:before {
			content: "";
			position: absolute;
			left: 0;
			// top: 50%;
			top: 30px;
			z-index: 300;
		}
	}
	span {
		@include adjust-font-size-to($fs-xs);
		vertical-align: middle;
	}


	@include breakpoint($mobile-wide) {
		display: table;
		li {
			float: left;
			margin: 0;
			width: 33%;
			// display: table-cell;
			// width: 300px;
			// vertical-align: middle;
			&:after {
				left: cp(0, 300);
				// margin-top: -36px;
				height: 70px;
				width: 70px;
				@include box-shadow(
					0 0 0 2px $white inset,
					0 0 0 3px $blue-lightest inset
				);
			}
			&:before {
				top: 36px;
			}
		}
	}
	
	@include breakpoint($tablet-wide) {
		@include zen-grid-item(18, 7);
		li {
			padding-left: 116px;
			padding-right: 0;
			&:before,
			&:after {
				left: cp(40, 300);
			}
		}
	}

	@include breakpoint($desktop) {
		li {
			padding-left: 128px;
		}
	}

}

li.event-date {
	// @include breakpoint($min-to-mobile-wide) {
		padding-bottom: 24px;
		padding-top: 24px;
	// }
	&:before {
		@extend .icon-calendar;
		height: 31px;
		width: 30px;
		margin-left: 21px;
		margin-top: -15px;
	}
}

li.event-location {
	// @include breakpoint($min-to-mobile-wide) {
		padding-bottom: 18px;
		padding-top: 18px;
	// }
	&:before {
		@extend .icon-location;
		height: 40px;
		width: 30px;
		margin-left: 21px;
		margin-top: -20px;
	}
}

li.event-address {
	// @include breakpoint($min-to-mobile-wide) {
		padding-bottom: 6px;
		padding-top: 6px;
	// }
	&:before {
		@extend .icon-map;
		height: 27px;
		width: 30px;
		margin-left: 21px;
		margin-top: -14px;
	}
	p {
		margin: 0;
	}
	p.link-wrapper {
		margin-top: rhythm(1);
		a {
			display: block;
			white-space: nowrap;
		}
	}
}