//
// @file
// Field styles.
// ----------------------------------------------------------------------------

// Default field label
.field-label {
  @include adjust-font-size-to($fs-xs);
  font-weight: bold;
  color: blend-overlay(rgba($black, .25), $clr-text);
}

// More links
.read-more,
.node-link a {
  @extend %button--small;
  @extend %button-icon--after;

  &:after {
    @include icon-sprite(more);
    margin-right: -4px;
  }
}
