//
// @file
// Get involved styles.
// ----------------------------------------------------------------------------

.get-involved {
	@include breakpoint($tablet-wide) {
		@include zen-grid-item(18, 7);
	}
}

.get-involved--volunteer,
.get-involved--register {
	@include clearfix;
	margin: 0 -24px;
	padding: cp(42, 900);
	@include breakpoint($mobile-wide) {
		float: left;
		margin: 0;
		width: cp(366, 900);
	}
}

.get-involved--register {
	ul {
		padding: 0;
		li {
			float: left;
			list-style-type: none;
			margin-right: 24px;
		}
	}
}