
// Primary button

.link--primary {
	@extend .link;
  @extend %button;
  @extend %button--medium;
  @extend %button--primary;
  // margin-bottom: rhythm(1);
}



.link--more {
	@extend .link;
	// padding-right: 12px;
	// position: relative;
	vertical-align: middle;
	&:after {
		@include inline-block;
		// position: absolute;
		// right: 0;
		// top: 50%;
		// margin-top: -4px;
		vertical-align: middle;
		content: " ";
		height: 8px;
		width: 6px;
		margin-left: 4px;
		margin-top: -4px;
		@extend .icon-more;
	}
}

.link--twitter {
	@extend .link;
	padding-left: 24px;
	position: relative;
	&:after {
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -6px;
		content: " ";
		height: 13px;
		width: 16px;
		@extend .icon-twitter;
	}
	&:hover:after {
		@include opacity(.75);
	}
}

.link--facebook {
	@extend .link;
	padding-left: 24px;
	position: relative;
	&:after {
		position: absolute;
		left: 4px;
		top: 50%;
		margin-top: -7px;
		content: " ";
		height: 13px;
		width: 8px;
		@extend .icon-facebook;
	}
	
	&:hover:after {
		@include opacity(.75);
	}
}