//
// @file
// Marquee specific styles.
// ----------------------------------------------------------------------------

#marquee {
	@include background(image-url("../images/bg_stata.jpg") no-repeat center center);
	@include background-size(cover);
	position: relative;

	@include breakpoint($desktop) {
		
		min-height: 564px;
		.l-constrained {
			min-height: 564px;
			position: relative;
		}
	}
}

.marquee--about {
	background: $blue;
	@include box-sizing(border-box);
	padding: rhythm(4);
	
	h2 {
		@include adjust-font-size-to($fs-xxl);
		font-weight: 300;
		color: $white;
		margin: 0;
	}

	@include breakpoint($min-to-tablet-wide) {
		margin: 0 -24px;
	}

	@include breakpoint($tablet-wide) {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 25%;
		background: $blue;
		background: rgba($blue, .9);
		z-index: 400;
	}
}

.marquee--intro {
	@include box-sizing(border-box);
	background-color: $white;
	padding: rhythm(4) rhythm(4) rhythm(2);

	border-bottom: 1px solid $blue-lightest;

	@include breakpoint($min-to-tablet-wide) {
		margin: 0 -24px;
	}

	@include breakpoint($tablet-wide) {
		position: absolute;
		left: 0;
		top: 100%;
		@include zen-grid-item(6, 1);
		padding: rhythm(4) rhythm(4) rhythm(2);
		border: 1px solid $blue-lightest;
		border-top: none;
		z-index: 300;
	}
}

.marquee--date,
.marquee--location {
	@include box-sizing(border-box);
	position: absolute;

	@include breakpoint($min-to-tablet) {
		padding: rhythm(.5) rhythm(2);
		h2 {
			@include adjust-font-size-to($fs-m, 3);
			display: inline;
			font-weight: 700;
		}
	}

	@include breakpoint($tablet) {
		height: 210px;
		width: 210px;
		padding-top: 30px;

		@include border-radius(50%);
		text-align: center;

		h2 {
			@include adjust-font-size-to($fs-xxxxxl, 10);
			font-weight: 100;
			margin: 0;
		}
		span {
			@include adjust-font-size-to($fs-xl, 7);
			font-weight: 400;
			display: block;
		}
	}
}

.marquee--date {
	right: 0;
	top: 0;

	background: $blue;
	background: rgba($blue, .9);
	color: $white;

	h2 {
		color: $white;
	}
	
	@include breakpoint($tablet) {
		// right: cp(130, 1200);
		right: cp(30, 1200);
		margin-right: (cp(100, 1200));
		top: 0;
		margin-top: -30px;
		z-index: 200;
		span {
			text-transform: uppercase;
		}
	}
}

.marquee--location {
	right: 0;
	top: 30px;

	background: $white;
	color: $blue;

	h2 {
		color: $blue;
	}
	@include breakpoint($tablet) {

		right: cp(30, 1200);
		top: 130px;
		z-index: 250;
		
		background: rgba($white, .95);
		
		em {
			@include adjust-font-size-to($fs-xxl, 2);
			font-weight: 700;
			display: block;
		}
		.marquee--location-city {
			@include adjust-font-size-to($fs-m, 6);
		}
	}
}

.marquee--image {
	width: 100%;
	img {
		display: block;
		// height: auto;
		// min-width: 100%;
	}
	@include breakpoint($desktop) {
		display: none;
		visibility: hidden;
		height: 564px;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		overflow: hidden;
		img {
			position: absolute;
			left: 0;
			top: 0;
			height: auto;
			width: auto;
			// min-height: 100%;
			min-width: 100%;
		}
	}
}

