//
// @file
// Styleguide module styles.
// ----------------------------------------------------------------------------

.page-admin-appearance-styleguide {
  #block-system-main {
    // Create a gutter for the nav to sit in.
    padding-left: 30%;
  }
}

#styleguide-header {
  position: absolute;
  width: 25%;
  margin-left: -30%;
  background-color: transparent;
  border: none;

  .item-list {
    float: none;
    width: 100%;
  }

  h3 {
    @include adjust-font-size-to($fs-xs);
    margin: 0;
  }

  ul {
    @extend .nav;
    margin: 0 0 rhythm(1);
  }

  a {
    @extend %button;
    @extend %button--white;
    @include adjust-font-size-to($fs-s);
    display: block;
    padding: 2px $w-gutter-half;
  }
}

h2.styleguide {
  @include adjust-font-size-to($fs-xl);
  margin: rhythm(6, $fs-xl) 0 rhythm(1, $fs-xl);
  color: $gray-darkest;
  text-transform: capitalize;
}

.styleguide-description {
  color: $gray-dark;

  > code {
    @include border-radius(.25em);
    background-color: $blue-white;
    border: 1px solid $gray-lighter;
    padding: 0 .5em;
  }
}

div.styleguide {
  padding: rhythm(6) 0;
  border-bottom: none;
}
